## Notebook Overview.

**Initial Setup:** 4/20/2019

This notebook tracks the performance of a Robo Advisor-like ETF strategy and compares relative to a benchmark; for purposes of this review, we compare performance against the S&P 500.

Key sections of this notebook include the following:

1. Performance of ETF components and overall strategy.
1. Comparison relative to SP500.
1. TSR by comparing appreciation plus dividends versus SP500.

**Helpful References:**

1. [FactSet smart beta article](https://insight.factset.com/finally-smart-beta-etfs-gain-market-share)
1. [Smart Beta ETF db](https://etfdb.com/themes/smart-beta-etfs/)
1. [Personal Capital Historical Performance](https://www.personalcapital.com/wealth-management/performance)
1. SPY data returns matches Morningstar price [here](http://performance.morningstar.com/funds/etf/total-returns.action?t=spy)
1. [Wikipedia SP500 historical returns](https://en.wikipedia.org/wiki/S%26P_500_Index)
1. [Finance Python trading DataCamp blog post](https://www.datacamp.com/community/tutorials/finance-python-trading)
1. GitHub notebook for DataCamp tutorial can be found [here](https://github.com/datacamp/datacamp-community-tutorials/blob/master/Python%20Finance%20Tutorial%20For%20Beginners/Python%20For%20Finance%20Beginners%20Tutorial.ipynb)
1. Fix Yahoo Finance package [here](https://pypi.python.org/pypi/fix-yahoo-finance)

In [1]:
# Import initial libraries

import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import quandl
%matplotlib inline

In [2]:
# Imports in order to be able to use Plotly offline.
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

import plotly.graph_objs as go

print(__version__) # requires version >= 1.9.0

init_notebook_mode(connected=True)

2.7.0

In [3]:
# Date Ranges for SP 500 and for all tickers
# Modify these date ranges each week.

# The below will pull back stock prices from 2010 until end date specified.
start_sp = datetime.datetime(2010, 1, 1)
end_sp = datetime.datetime(2019, 4, 18)

# This variable is used for YTD performance.
end_of_last_year = datetime.datetime(2018, 12, 31)

# These are separated out if for some reason want different date range than SP.
stocks_start = datetime.datetime(2010, 1, 1)
# stocks_end = datetime.datetime(2018, 12, 10)
stocks_end = end_sp

## Data Extraction

### SP 500

In [4]:
# Leveraged from the helpful Datacamp Python Finance trading blog post.

from pandas_datareader import data as pdr
import fix_yahoo_finance as yf
yf.pdr_override() # <== that's all it takes :-)

sp500 = pdr.get_data_yahoo('^GSPC', 
                           start_sp,
                             end_sp)
                          
sp500.head()

[*********************100%***********************]  1 of 1 downloaded

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,1116.560059,1133.869995,1116.560059,1132.989990,1132.989990,-303567296
2010-01-05,1132.660034,1136.630005,1129.660034,1136.520020,1136.520020,-1803947296
2010-01-06,1135.709961,1139.189941,1133.949951,1137.140015,1137.140015,677692704
2010-01-07,1136.270020,1142.459961,1131.319946,1141.689941,1141.689941,975712704
2010-01-08,1140.520020,1145.390015,1136.219971,1144.979980,1144.979980,94622704

In [5]:
sp500.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-04-12,2900.860107,2910.540039,2898.370117,2907.409912,2907.409912,-606477296
2019-04-15,2908.320068,2909.600098,2896.479980,2905.580078,2905.580078,-1206637296
2019-04-16,2912.260010,2916.060059,2900.709961,2907.060059,2907.060059,-892757296
2019-04-17,2916.040039,2918.000000,2895.449951,2900.449951,2900.449951,-692667296
2019-04-18,2904.810059,2908.399902,2891.899902,2905.030029,2905.030029,-788117296

In [6]:
# Confirmed that these returns are excluding dividends.

sp500_annual = sp500[['Adj Close']]

sp500_annual = sp500_annual.resample(rule='A').last()

sp500_annual['YoY'] = sp500_annual.pct_change()

sp500_annual

              Adj Close       YoY
Date
2010-12-31  1257.640015       NaN
2011-12-31  1257.599976 -0.000032
2012-12-31  1426.189941  0.134057
2013-12-31  1848.359985  0.296012
2014-12-31  2058.899902  0.113906
2015-12-31  2043.939941 -0.007266
2016-12-31  2238.830078  0.095350
2017-12-31  2673.610107  0.194200
2018-12-31  2506.850098 -0.062373
2019-12-31  2905.030029  0.158837

In [7]:
# Create a dataframe with only the Adj Close column as that's all we need for this analysis.

sp_500_adj_close = sp500[['Adj Close']].reset_index()

In [8]:
# Adj Close for the EOY in 2018 in order to run comparisons versus stocks YTD performances.

sp_500_adj_close_start = sp_500_adj_close[sp_500_adj_close['Date']==end_of_last_year]
sp_500_adj_close_start

           Date    Adj Close
2263 2018-12-31  2506.850098

### Robo Advisor Benchmark Portfolio

In [9]:
# Import the Sample worksheet with acquisition dates and initial cost basis:

portfolio_df = pd.read_excel('Robo Advisor Acquisition Costs.xlsx', sheet_name='Main', index_col=None)

portfolio_df.sort_values(by=['Ticker', 'Acquisition Date'], ascending=[True, True], inplace=True)

portfolio_df.reset_index(drop=True, inplace=True)

portfolio_df['Counts'] = portfolio_df.index

portfolio_df['Ticker #'] = portfolio_df['Ticker'].map(str) + ' ' + portfolio_df['Counts'].map(str)

portfolio_df

,Acquisition Date,Position,Ticker,Quantity,Unit Cost,Cost Basis,Start of Year,Target_Alloc,Comments,Counts,Ticker #
0,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),AGG,25,95.72,2393.00,2018-12-31,0.127,NaN,0,AGG 0
1,2014-04-21,Invesco DB Commodity Tracking (DBC),DBC,22,26.21,576.62,2018-12-31,0.033,NaN,1,DBC 1
2,2014-04-21,iShares Gold Trust (IAU),IAU,50,12.51,625.50,2018-12-31,0.033,NaN,2,IAU 2
3,2014-04-21,iShares International Treasury Bond ETF (IGOV),IGOV,8,50.72,405.76,2018-12-31,0.023,NaN,3,IGOV 3
4,2014-04-21,Vanguard FTSE All-Wld ex-US ETF (VEU),VEU,105,43.92,4611.60,2018-12-31,0.250,NaN,4,VEU 4
5,2014-04-21,Vanguard Real Estate ETF (VNQ),VNQ,11,58.28,641.08,2018-12-31,0.034,NaN,5,VNQ 5
6,2014-04-21,Vanguard Total Stock Market ETF (VTI),VTI,72,88.20,6350.40,2018-12-31,0.500,NaN,6,VTI 6
7,2014-05-05,Vanguard Total Stock Market ETF (VTI),VTI,32,88.67,2837.44,2018-12-31,0.500,NaN,7,VTI 7

In [10]:
portfolio_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 11 columns):
Acquisition Date    8 non-null datetime64[ns]
Position            8 non-null object
Ticker              8 non-null object
Quantity            8 non-null int64
Unit Cost           8 non-null float64
Cost Basis          8 non-null float64
Start of Year       8 non-null datetime64[ns]
Target_Alloc        8 non-null float64
Comments            0 non-null float64
Counts              8 non-null int64
Ticker #            8 non-null object
dtypes: datetime64[ns](2), float64(4), int64(2), object(3)
memory usage: 784.0+ bytes

In [11]:
# Generate a dynamic list of tickers to pull from Yahoo Finance API based on the imported file with tickers.
tickers = portfolio_df['Ticker'].unique()
tickers

array(['AGG', 'DBC', 'IAU', 'IGOV', 'VEU', 'VNQ', 'VTI'], dtype=object)

In [12]:
# Stock comparison code

def get(tickers, startdate, enddate):
    def data(ticker):
        return (pdr.get_data_yahoo(ticker, start=startdate, end=enddate))
    datas = map(data, tickers)
    return(pd.concat(datas, keys=tickers, names=['Ticker', 'Date']))
               
all_data = get(tickers, stocks_start, stocks_end)

[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded

In [13]:
all_data.tail()

                         Open        High         Low       Close   Adj Close  \
Ticker Date
VTI    2019-04-12  148.550003  148.800003  148.130005  148.679993  148.679993
       2019-04-15  148.750000  148.800003  148.059998  148.559998  148.559998
       2019-04-16  149.000000  149.059998  148.240005  148.600006  148.600006
       2019-04-17  149.199997  149.220001  147.770004  148.050003  148.050003
       2019-04-18  148.399994  148.399994  147.509995  148.270004  148.270004

                    Volume
Ticker Date
VTI    2019-04-12  2612000
       2019-04-15  2083000
       2019-04-16  2953300
       2019-04-17  2983900
       2019-04-18  2457000

In [14]:
# Also only pulling the ticker, date and adj. close columns for our tickers.

adj_close = all_data[['Adj Close']].reset_index()
adj_close.head()

  Ticker       Date  Adj Close
0    AGG 2010-01-04  80.615921
1    AGG 2010-01-05  80.982643
2    AGG 2010-01-06  80.935890
3    AGG 2010-01-07  80.842201
4    AGG 2010-01-08  80.889038

In [15]:
# Grabbing the ticker close from the end of last year 
adj_close_start = adj_close[adj_close['Date']==end_of_last_year]
adj_close_start

      Ticker       Date   Adj Close
2263     AGG 2018-12-31  105.704994
4602     DBC 2018-12-31   14.490000
6941     IAU 2018-12-31   12.290000
9280    IGOV 2018-12-31   48.470001
11619    VEU 2018-12-31   45.416271
13958    VNQ 2018-12-31   74.040611
16297    VTI 2018-12-31  126.943665

In [16]:
# Grab the latest stock close price 

adj_close_latest = adj_close[adj_close['Date']==stocks_end]
adj_close_latest

      Ticker       Date   Adj Close
2338     AGG 2019-04-18  108.190002
4677     DBC 2019-04-18   16.209999
7016     IAU 2019-04-18   12.220000
9355    IGOV 2019-04-18   48.740002
11694    VEU 2019-04-18   51.709999
14033    VNQ 2019-04-18   85.489998
16372    VTI 2019-04-18  148.270004

## Dataframe Development

In [17]:
# Merge the portfolio dataframe with the adj close dataframe.

merged_portfolio = pd.merge(portfolio_df, adj_close_latest, on='Ticker')
merged_portfolio

,Acquisition Date,Position,Ticker,Quantity,Unit Cost,Cost Basis,Start of Year,Target_Alloc,Comments,Counts,Ticker #,Date,Adj Close
0,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),AGG,25,95.72,2393.00,2018-12-31,0.127,NaN,0,AGG 0,2019-04-18,108.190002
1,2014-04-21,Invesco DB Commodity Tracking (DBC),DBC,22,26.21,576.62,2018-12-31,0.033,NaN,1,DBC 1,2019-04-18,16.209999
2,2014-04-21,iShares Gold Trust (IAU),IAU,50,12.51,625.50,2018-12-31,0.033,NaN,2,IAU 2,2019-04-18,12.220000
3,2014-04-21,iShares International Treasury Bond ETF (IGOV),IGOV,8,50.72,405.76,2018-12-31,0.023,NaN,3,IGOV 3,2019-04-18,48.740002
4,2014-04-21,Vanguard FTSE All-Wld ex-US ETF (VEU),VEU,105,43.92,4611.60,2018-12-31,0.250,NaN,4,VEU 4,2019-04-18,51.709999
5,2014-04-21,Vanguard Real Estate ETF (VNQ),VNQ,11,58.28,641.08,2018-12-31,0.034,NaN,5,VNQ 5,2019-04-18,85.489998
6,2014-04-21,Vanguard Total Stock Market ETF (VTI),VTI,72,88.20,6350.40,2018-12-31,0.500,NaN,6,VTI 6,2019-04-18,148.270004
7,2014-05-05,Vanguard Total Stock Market ETF (VTI),VTI,32,88.67,2837.44,2018-12-31,0.500,NaN,7,VTI 7,2019-04-18,148.270004

In [18]:
# The below creates a new column which is the ticker return; takes the latest adjusted close for each position
# and divides that by the initial share cost.

merged_portfolio['Ticker Return'] = merged_portfolio['Adj Close'] / merged_portfolio['Unit Cost'] - 1

merged_portfolio

,Acquisition Date,Position,Ticker,Quantity,Unit Cost,Cost Basis,Start of Year,Target_Alloc,Comments,Counts,Ticker #,Date,Adj Close,Ticker Return
0,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),AGG,25,95.72,2393.00,2018-12-31,0.127,NaN,0,AGG 0,2019-04-18,108.190002,0.130276
1,2014-04-21,Invesco DB Commodity Tracking (DBC),DBC,22,26.21,576.62,2018-12-31,0.033,NaN,1,DBC 1,2019-04-18,16.209999,-0.381534
2,2014-04-21,iShares Gold Trust (IAU),IAU,50,12.51,625.50,2018-12-31,0.033,NaN,2,IAU 2,2019-04-18,12.220000,-0.023181
3,2014-04-21,iShares International Treasury Bond ETF (IGOV),IGOV,8,50.72,405.76,2018-12-31,0.023,NaN,3,IGOV 3,2019-04-18,48.740002,-0.039038
4,2014-04-21,Vanguard FTSE All-Wld ex-US ETF (VEU),VEU,105,43.92,4611.60,2018-12-31,0.250,NaN,4,VEU 4,2019-04-18,51.709999,0.177368
5,2014-04-21,Vanguard Real Estate ETF (VNQ),VNQ,11,58.28,641.08,2018-12-31,0.034,NaN,5,VNQ 5,2019-04-18,85.489998,0.466884
6,2014-04-21,Vanguard Total Stock Market ETF (VTI),VTI,72,88.20,6350.40,2018-12-31,0.500,NaN,6,VTI 6,2019-04-18,148.270004,0.681066
7,2014-05-05,Vanguard Total Stock Market ETF (VTI),VTI,32,88.67,2837.44,2018-12-31,0.500,NaN,7,VTI 7,2019-04-18,148.270004,0.672155

In [19]:
# Above we reset the index to the newly merged dataframe.  This is because we have a flat dataframe for the sp500 returns
# and we merge the the new dataframe with the sp500 adjusted closes since the sp start on acquisition date and sp500 close date.

merged_portfolio_sp = pd.merge(merged_portfolio, sp_500_adj_close, left_on='Acquisition Date', right_on='Date', how='left')

merged_portfolio_sp

,Acquisition Date,Position,Ticker,Quantity,Unit Cost,Cost Basis,Start of Year,Target_Alloc,Comments,Counts,Ticker #,Date_x,Adj Close_x,Ticker Return,Date_y,Adj Close_y
0,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),AGG,25,95.72,2393.00,2018-12-31,0.127,NaN,0,AGG 0,2019-04-18,108.190002,0.130276,2014-04-21,1871.890015
1,2014-04-21,Invesco DB Commodity Tracking (DBC),DBC,22,26.21,576.62,2018-12-31,0.033,NaN,1,DBC 1,2019-04-18,16.209999,-0.381534,2014-04-21,1871.890015
2,2014-04-21,iShares Gold Trust (IAU),IAU,50,12.51,625.50,2018-12-31,0.033,NaN,2,IAU 2,2019-04-18,12.220000,-0.023181,2014-04-21,1871.890015
3,2014-04-21,iShares International Treasury Bond ETF (IGOV),IGOV,8,50.72,405.76,2018-12-31,0.023,NaN,3,IGOV 3,2019-04-18,48.740002,-0.039038,2014-04-21,1871.890015
4,2014-04-21,Vanguard FTSE All-Wld ex-US ETF (VEU),VEU,105,43.92,4611.60,2018-12-31,0.250,NaN,4,VEU 4,2019-04-18,51.709999,0.177368,2014-04-21,1871.890015
5,2014-04-21,Vanguard Real Estate ETF (VNQ),VNQ,11,58.28,641.08,2018-12-31,0.034,NaN,5,VNQ 5,2019-04-18,85.489998,0.466884,2014-04-21,1871.890015
6,2014-04-21,Vanguard Total Stock Market ETF (VTI),VTI,72,88.20,6350.40,2018-12-31,0.500,NaN,6,VTI 6,2019-04-18,148.270004,0.681066,2014-04-21,1871.890015
7,2014-05-05,Vanguard Total Stock Market ETF (VTI),VTI,32,88.67,2837.44,2018-12-31,0.500,NaN,7,VTI 7,2019-04-18,148.270004,0.672155,2014-05-05,1884.660034

In [20]:
# We will delete the additional date column which is created from this merge.
# We then rename columns to Latest Date and then reflect Ticker Adj Close and SP 500 Initial Close.

del merged_portfolio_sp['Date_y']

merged_portfolio_sp.rename(columns={'Date_x': 'Latest Date', 'Adj Close_x': 'Ticker Adj Close'
                                    , 'Adj Close_y': 'SP 500 Initial Close'}, inplace=True)

merged_portfolio_sp

,Acquisition Date,Position,Ticker,Quantity,Unit Cost,Cost Basis,Start of Year,Target_Alloc,Comments,Counts,Ticker #,Latest Date,Ticker Adj Close,Ticker Return,SP 500 Initial Close
0,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),AGG,25,95.72,2393.00,2018-12-31,0.127,NaN,0,AGG 0,2019-04-18,108.190002,0.130276,1871.890015
1,2014-04-21,Invesco DB Commodity Tracking (DBC),DBC,22,26.21,576.62,2018-12-31,0.033,NaN,1,DBC 1,2019-04-18,16.209999,-0.381534,1871.890015
2,2014-04-21,iShares Gold Trust (IAU),IAU,50,12.51,625.50,2018-12-31,0.033,NaN,2,IAU 2,2019-04-18,12.220000,-0.023181,1871.890015
3,2014-04-21,iShares International Treasury Bond ETF (IGOV),IGOV,8,50.72,405.76,2018-12-31,0.023,NaN,3,IGOV 3,2019-04-18,48.740002,-0.039038,1871.890015
4,2014-04-21,Vanguard FTSE All-Wld ex-US ETF (VEU),VEU,105,43.92,4611.60,2018-12-31,0.250,NaN,4,VEU 4,2019-04-18,51.709999,0.177368,1871.890015
5,2014-04-21,Vanguard Real Estate ETF (VNQ),VNQ,11,58.28,641.08,2018-12-31,0.034,NaN,5,VNQ 5,2019-04-18,85.489998,0.466884,1871.890015
6,2014-04-21,Vanguard Total Stock Market ETF (VTI),VTI,72,88.20,6350.40,2018-12-31,0.500,NaN,6,VTI 6,2019-04-18,148.270004,0.681066,1871.890015
7,2014-05-05,Vanguard Total Stock Market ETF (VTI),VTI,32,88.67,2837.44,2018-12-31,0.500,NaN,7,VTI 7,2019-04-18,148.270004,0.672155,1884.660034

In [21]:
# This new column is intended to figure out what SP 500 equivalent purchase would have been at purchase date of stock.
merged_portfolio_sp['Equiv SP Shares'] = merged_portfolio_sp['Cost Basis'] / merged_portfolio_sp['SP 500 Initial Close']
merged_portfolio_sp

,Acquisition Date,Position,Ticker,Quantity,Unit Cost,Cost Basis,Start of Year,Target_Alloc,Comments,Counts,Ticker #,Latest Date,Ticker Adj Close,Ticker Return,SP 500 Initial Close,Equiv SP Shares
0,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),AGG,25,95.72,2393.00,2018-12-31,0.127,NaN,0,AGG 0,2019-04-18,108.190002,0.130276,1871.890015,1.278387
1,2014-04-21,Invesco DB Commodity Tracking (DBC),DBC,22,26.21,576.62,2018-12-31,0.033,NaN,1,DBC 1,2019-04-18,16.209999,-0.381534,1871.890015,0.308042
2,2014-04-21,iShares Gold Trust (IAU),IAU,50,12.51,625.50,2018-12-31,0.033,NaN,2,IAU 2,2019-04-18,12.220000,-0.023181,1871.890015,0.334154
3,2014-04-21,iShares International Treasury Bond ETF (IGOV),IGOV,8,50.72,405.76,2018-12-31,0.023,NaN,3,IGOV 3,2019-04-18,48.740002,-0.039038,1871.890015,0.216765
4,2014-04-21,Vanguard FTSE All-Wld ex-US ETF (VEU),VEU,105,43.92,4611.60,2018-12-31,0.250,NaN,4,VEU 4,2019-04-18,51.709999,0.177368,1871.890015,2.463606
5,2014-04-21,Vanguard Real Estate ETF (VNQ),VNQ,11,58.28,641.08,2018-12-31,0.034,NaN,5,VNQ 5,2019-04-18,85.489998,0.466884,1871.890015,0.342477
6,2014-04-21,Vanguard Total Stock Market ETF (VTI),VTI,72,88.20,6350.40,2018-12-31,0.500,NaN,6,VTI 6,2019-04-18,148.270004,0.681066,1871.890015,3.392507
7,2014-05-05,Vanguard Total Stock Market ETF (VTI),VTI,32,88.67,2837.44,2018-12-31,0.500,NaN,7,VTI 7,2019-04-18,148.270004,0.672155,1884.660034,1.505545

In [22]:
# We are joining the developing dataframe with the sp500 closes again, this time with the latest close for SP.
merged_portfolio_sp_latest = pd.merge(merged_portfolio_sp, sp_500_adj_close, left_on='Latest Date', right_on='Date')

merged_portfolio_sp_latest

,Acquisition Date,Position,Ticker,Quantity,Unit Cost,Cost Basis,Start of Year,Target_Alloc,Comments,Counts,Ticker #,Latest Date,Ticker Adj Close,Ticker Return,SP 500 Initial Close,Equiv SP Shares,Date,Adj Close
0,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),AGG,25,95.72,2393.00,2018-12-31,0.127,NaN,0,AGG 0,2019-04-18,108.190002,0.130276,1871.890015,1.278387,2019-04-18,2905.030029
1,2014-04-21,Invesco DB Commodity Tracking (DBC),DBC,22,26.21,576.62,2018-12-31,0.033,NaN,1,DBC 1,2019-04-18,16.209999,-0.381534,1871.890015,0.308042,2019-04-18,2905.030029
2,2014-04-21,iShares Gold Trust (IAU),IAU,50,12.51,625.50,2018-12-31,0.033,NaN,2,IAU 2,2019-04-18,12.220000,-0.023181,1871.890015,0.334154,2019-04-18,2905.030029
3,2014-04-21,iShares International Treasury Bond ETF (IGOV),IGOV,8,50.72,405.76,2018-12-31,0.023,NaN,3,IGOV 3,2019-04-18,48.740002,-0.039038,1871.890015,0.216765,2019-04-18,2905.030029
4,2014-04-21,Vanguard FTSE All-Wld ex-US ETF (VEU),VEU,105,43.92,4611.60,2018-12-31,0.250,NaN,4,VEU 4,2019-04-18,51.709999,0.177368,1871.890015,2.463606,2019-04-18,2905.030029
5,2014-04-21,Vanguard Real Estate ETF (VNQ),VNQ,11,58.28,641.08,2018-12-31,0.034,NaN,5,VNQ 5,2019-04-18,85.489998,0.466884,1871.890015,0.342477,2019-04-18,2905.030029
6,2014-04-21,Vanguard Total Stock Market ETF (VTI),VTI,72,88.20,6350.40,2018-12-31,0.500,NaN,6,VTI 6,2019-04-18,148.270004,0.681066,1871.890015,3.392507,2019-04-18,2905.030029
7,2014-05-05,Vanguard Total Stock Market ETF (VTI),VTI,32,88.67,2837.44,2018-12-31,0.500,NaN,7,VTI 7,2019-04-18,148.270004,0.672155,1884.660034,1.505545,2019-04-18,2905.030029

In [23]:
# Once again need to delete the new Date column added as it's redundant to Latest Date.  
# Modify Adj Close from the sp dataframe to distinguish it by calling it the SP 500 Latest Close.

del merged_portfolio_sp_latest['Date']

merged_portfolio_sp_latest.rename(columns={'Adj Close': 'SP 500 Latest Close'}, inplace=True)

merged_portfolio_sp_latest

,Acquisition Date,Position,Ticker,Quantity,Unit Cost,Cost Basis,Start of Year,Target_Alloc,Comments,Counts,Ticker #,Latest Date,Ticker Adj Close,Ticker Return,SP 500 Initial Close,Equiv SP Shares,SP 500 Latest Close
0,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),AGG,25,95.72,2393.00,2018-12-31,0.127,NaN,0,AGG 0,2019-04-18,108.190002,0.130276,1871.890015,1.278387,2905.030029
1,2014-04-21,Invesco DB Commodity Tracking (DBC),DBC,22,26.21,576.62,2018-12-31,0.033,NaN,1,DBC 1,2019-04-18,16.209999,-0.381534,1871.890015,0.308042,2905.030029
2,2014-04-21,iShares Gold Trust (IAU),IAU,50,12.51,625.50,2018-12-31,0.033,NaN,2,IAU 2,2019-04-18,12.220000,-0.023181,1871.890015,0.334154,2905.030029
3,2014-04-21,iShares International Treasury Bond ETF (IGOV),IGOV,8,50.72,405.76,2018-12-31,0.023,NaN,3,IGOV 3,2019-04-18,48.740002,-0.039038,1871.890015,0.216765,2905.030029
4,2014-04-21,Vanguard FTSE All-Wld ex-US ETF (VEU),VEU,105,43.92,4611.60,2018-12-31,0.250,NaN,4,VEU 4,2019-04-18,51.709999,0.177368,1871.890015,2.463606,2905.030029
5,2014-04-21,Vanguard Real Estate ETF (VNQ),VNQ,11,58.28,641.08,2018-12-31,0.034,NaN,5,VNQ 5,2019-04-18,85.489998,0.466884,1871.890015,0.342477,2905.030029
6,2014-04-21,Vanguard Total Stock Market ETF (VTI),VTI,72,88.20,6350.40,2018-12-31,0.500,NaN,6,VTI 6,2019-04-18,148.270004,0.681066,1871.890015,3.392507,2905.030029
7,2014-05-05,Vanguard Total Stock Market ETF (VTI),VTI,32,88.67,2837.44,2018-12-31,0.500,NaN,7,VTI 7,2019-04-18,148.270004,0.672155,1884.660034,1.505545,2905.030029

In [24]:
# Percent return of SP from acquisition date of position through latest trading day.
merged_portfolio_sp_latest['SP Return'] = merged_portfolio_sp_latest['SP 500 Latest Close'] / merged_portfolio_sp_latest['SP 500 Initial Close'] - 1

# This is a new column which takes the tickers return and subtracts the sp 500 equivalent range return.
merged_portfolio_sp_latest['Abs. Return Compare'] = merged_portfolio_sp_latest['Ticker Return'] - merged_portfolio_sp_latest['SP Return']

# This is a new column where we calculate the ticker's share value by multiplying the original quantity by the latest close.
merged_portfolio_sp_latest['Ticker Share Value'] = merged_portfolio_sp_latest['Quantity'] * merged_portfolio_sp_latest['Ticker Adj Close']

# We calculate the equivalent SP 500 Value if we take the original SP shares * the latest SP 500 share price.
merged_portfolio_sp_latest['SP 500 Value'] = merged_portfolio_sp_latest['Equiv SP Shares'] * merged_portfolio_sp_latest['SP 500 Latest Close']

# This is a new column where we take the current market value for the shares and subtract the SP 500 value.
merged_portfolio_sp_latest['Abs Value Compare'] = merged_portfolio_sp_latest['Ticker Share Value'] - merged_portfolio_sp_latest['SP 500 Value']

# This column calculates profit / loss for stock position.
merged_portfolio_sp_latest['Stock Gain / (Loss)'] = merged_portfolio_sp_latest['Ticker Share Value'] - merged_portfolio_sp_latest['Cost Basis']

# This column calculates profit / loss for SP 500.
merged_portfolio_sp_latest['SP 500 Gain / (Loss)'] = merged_portfolio_sp_latest['SP 500 Value'] - merged_portfolio_sp_latest['Cost Basis']

merged_portfolio_sp_latest

,Acquisition Date,Position,Ticker,Quantity,Unit Cost,Cost Basis,Start of Year,Target_Alloc,Comments,Counts,...,SP 500 Initial Close,Equiv SP Shares,SP 500 Latest Close,SP Return,Abs. Return Compare,Ticker Share Value,SP 500 Value,Abs Value Compare,Stock Gain / (Loss),SP 500 Gain / (Loss)
0,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),AGG,25,95.72,2393.00,2018-12-31,0.127,NaN,0,...,1871.890015,1.278387,2905.030029,0.551923,-0.421648,2704.750050,3713.752840,-1009.002790,311.750050,1320.752840
1,2014-04-21,Invesco DB Commodity Tracking (DBC),DBC,22,26.21,576.62,2018-12-31,0.033,NaN,1,...,1871.890015,0.308042,2905.030029,0.551923,-0.933457,356.619978,894.870106,-538.250128,-220.000022,318.250106
2,2014-04-21,iShares Gold Trust (IAU),IAU,50,12.51,625.50,2018-12-31,0.033,NaN,2,...,1871.890015,0.334154,2905.030029,0.551923,-0.575105,611.000000,970.728124,-359.728124,-14.500000,345.228124
3,2014-04-21,iShares International Treasury Bond ETF (IGOV),IGOV,8,50.72,405.76,2018-12-31,0.023,NaN,3,...,1871.890015,0.216765,2905.030029,0.551923,-0.590961,389.920016,629.708463,-239.788447,-15.839984,223.948463
4,2014-04-21,Vanguard FTSE All-Wld ex-US ETF (VEU),VEU,105,43.92,4611.60,2018-12-31,0.250,NaN,4,...,1871.890015,2.463606,2905.030029,0.551923,-0.374556,5429.549895,7156.850229,-1727.300334,817.949895,2545.250229
5,2014-04-21,Vanguard Real Estate ETF (VNQ),VNQ,11,58.28,641.08,2018-12-31,0.034,NaN,5,...,1871.890015,0.342477,2905.030029,0.551923,-0.085039,940.389978,994.907092,-54.517114,299.309978,353.827092
6,2014-04-21,Vanguard Total Stock Market ETF (VTI),VTI,72,88.20,6350.40,2018-12-31,0.500,NaN,6,...,1871.890015,3.392507,2905.030029,0.551923,0.129142,10675.440288,9855.334741,820.105547,4325.040288,3504.934741
7,2014-05-05,Vanguard Total Stock Market ETF (VTI),VTI,32,88.67,2837.44,2018-12-31,0.500,NaN,7,...,1884.660034,1.505545,2905.030029,0.541408,0.130747,4744.640128,4373.652678,370.987450,1907.200128,1536.212678

In [25]:
# Merge the overall dataframe with the adj close start of year dataframe for YTD tracking.

merged_portfolio_sp_latest_YTD = pd.merge(merged_portfolio_sp_latest, adj_close_start, on='Ticker')
merged_portfolio_sp_latest_YTD

,Acquisition Date,Position,Ticker,Quantity,Unit Cost,Cost Basis,Start of Year,Target_Alloc,Comments,Counts,...,SP 500 Latest Close,SP Return,Abs. Return Compare,Ticker Share Value,SP 500 Value,Abs Value Compare,Stock Gain / (Loss),SP 500 Gain / (Loss),Date,Adj Close
0,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),AGG,25,95.72,2393.00,2018-12-31,0.127,NaN,0,...,2905.030029,0.551923,-0.421648,2704.750050,3713.752840,-1009.002790,311.750050,1320.752840,2018-12-31,105.704994
1,2014-04-21,Invesco DB Commodity Tracking (DBC),DBC,22,26.21,576.62,2018-12-31,0.033,NaN,1,...,2905.030029,0.551923,-0.933457,356.619978,894.870106,-538.250128,-220.000022,318.250106,2018-12-31,14.490000
2,2014-04-21,iShares Gold Trust (IAU),IAU,50,12.51,625.50,2018-12-31,0.033,NaN,2,...,2905.030029,0.551923,-0.575105,611.000000,970.728124,-359.728124,-14.500000,345.228124,2018-12-31,12.290000
3,2014-04-21,iShares International Treasury Bond ETF (IGOV),IGOV,8,50.72,405.76,2018-12-31,0.023,NaN,3,...,2905.030029,0.551923,-0.590961,389.920016,629.708463,-239.788447,-15.839984,223.948463,2018-12-31,48.470001
4,2014-04-21,Vanguard FTSE All-Wld ex-US ETF (VEU),VEU,105,43.92,4611.60,2018-12-31,0.250,NaN,4,...,2905.030029,0.551923,-0.374556,5429.549895,7156.850229,-1727.300334,817.949895,2545.250229,2018-12-31,45.416271
5,2014-04-21,Vanguard Real Estate ETF (VNQ),VNQ,11,58.28,641.08,2018-12-31,0.034,NaN,5,...,2905.030029,0.551923,-0.085039,940.389978,994.907092,-54.517114,299.309978,353.827092,2018-12-31,74.040611
6,2014-04-21,Vanguard Total Stock Market ETF (VTI),VTI,72,88.20,6350.40,2018-12-31,0.500,NaN,6,...,2905.030029,0.551923,0.129142,10675.440288,9855.334741,820.105547,4325.040288,3504.934741,2018-12-31,126.943665
7,2014-05-05,Vanguard Total Stock Market ETF (VTI),VTI,32,88.67,2837.44,2018-12-31,0.500,NaN,7,...,2905.030029,0.541408,0.130747,4744.640128,4373.652678,370.987450,1907.200128,1536.212678,2018-12-31,126.943665

In [26]:
# Deleting date again as it's an unnecessary column.  Explaining that new column is the Ticker Start of Year Close.

del merged_portfolio_sp_latest_YTD['Date']

merged_portfolio_sp_latest_YTD.rename(columns={'Adj Close': 'Ticker Start Year Close'}, inplace=True)

merged_portfolio_sp_latest_YTD.head()

,Acquisition Date,Position,Ticker,Quantity,Unit Cost,Cost Basis,Start of Year,Target_Alloc,Comments,Counts,...,Equiv SP Shares,SP 500 Latest Close,SP Return,Abs. Return Compare,Ticker Share Value,SP 500 Value,Abs Value Compare,Stock Gain / (Loss),SP 500 Gain / (Loss),Ticker Start Year Close
0,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),AGG,25,95.72,2393.00,2018-12-31,0.127,NaN,0,...,1.278387,2905.030029,0.551923,-0.421648,2704.750050,3713.752840,-1009.002790,311.750050,1320.752840,105.704994
1,2014-04-21,Invesco DB Commodity Tracking (DBC),DBC,22,26.21,576.62,2018-12-31,0.033,NaN,1,...,0.308042,2905.030029,0.551923,-0.933457,356.619978,894.870106,-538.250128,-220.000022,318.250106,14.490000
2,2014-04-21,iShares Gold Trust (IAU),IAU,50,12.51,625.50,2018-12-31,0.033,NaN,2,...,0.334154,2905.030029,0.551923,-0.575105,611.000000,970.728124,-359.728124,-14.500000,345.228124,12.290000
3,2014-04-21,iShares International Treasury Bond ETF (IGOV),IGOV,8,50.72,405.76,2018-12-31,0.023,NaN,3,...,0.216765,2905.030029,0.551923,-0.590961,389.920016,629.708463,-239.788447,-15.839984,223.948463,48.470001
4,2014-04-21,Vanguard FTSE All-Wld ex-US ETF (VEU),VEU,105,43.92,4611.60,2018-12-31,0.250,NaN,4,...,2.463606,2905.030029,0.551923,-0.374556,5429.549895,7156.850229,-1727.300334,817.949895,2545.250229,45.416271

In [27]:
# Join the SP 500 start of year with current dataframe.

merged_portfolio_sp_latest_YTD_sp = pd.merge(merged_portfolio_sp_latest_YTD, sp_500_adj_close_start
                                             , left_on='Start of Year', right_on='Date')

merged_portfolio_sp_latest_YTD_sp.head()

,Acquisition Date,Position,Ticker,Quantity,Unit Cost,Cost Basis,Start of Year,Target_Alloc,Comments,Counts,...,SP Return,Abs. Return Compare,Ticker Share Value,SP 500 Value,Abs Value Compare,Stock Gain / (Loss),SP 500 Gain / (Loss),Ticker Start Year Close,Date,Adj Close
0,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),AGG,25,95.72,2393.00,2018-12-31,0.127,NaN,0,...,0.551923,-0.421648,2704.750050,3713.752840,-1009.002790,311.750050,1320.752840,105.704994,2018-12-31,2506.850098
1,2014-04-21,Invesco DB Commodity Tracking (DBC),DBC,22,26.21,576.62,2018-12-31,0.033,NaN,1,...,0.551923,-0.933457,356.619978,894.870106,-538.250128,-220.000022,318.250106,14.490000,2018-12-31,2506.850098
2,2014-04-21,iShares Gold Trust (IAU),IAU,50,12.51,625.50,2018-12-31,0.033,NaN,2,...,0.551923,-0.575105,611.000000,970.728124,-359.728124,-14.500000,345.228124,12.290000,2018-12-31,2506.850098
3,2014-04-21,iShares International Treasury Bond ETF (IGOV),IGOV,8,50.72,405.76,2018-12-31,0.023,NaN,3,...,0.551923,-0.590961,389.920016,629.708463,-239.788447,-15.839984,223.948463,48.470001,2018-12-31,2506.850098
4,2014-04-21,Vanguard FTSE All-Wld ex-US ETF (VEU),VEU,105,43.92,4611.60,2018-12-31,0.250,NaN,4,...,0.551923,-0.374556,5429.549895,7156.850229,-1727.300334,817.949895,2545.250229,45.416271,2018-12-31,2506.850098

In [28]:
# Deleting another unneeded Data column.

del merged_portfolio_sp_latest_YTD_sp['Date']

# Renaming so that it's clear this column is SP 500 start of year close.
merged_portfolio_sp_latest_YTD_sp.rename(columns={'Adj Close': 'SP Start Year Close'}, inplace=True)

# YTD return for portfolio position.
merged_portfolio_sp_latest_YTD_sp['Share YTD'] = merged_portfolio_sp_latest_YTD_sp['Ticker Adj Close'] / merged_portfolio_sp_latest_YTD_sp['Ticker Start Year Close'] - 1

# YTD return for SP to run compares.
merged_portfolio_sp_latest_YTD_sp['SP 500 YTD'] = merged_portfolio_sp_latest_YTD_sp['SP 500 Latest Close'] / merged_portfolio_sp_latest_YTD_sp['SP Start Year Close'] - 1

merged_portfolio_sp_latest_YTD_sp

,Acquisition Date,Position,Ticker,Quantity,Unit Cost,Cost Basis,Start of Year,Target_Alloc,Comments,Counts,...,Abs. Return Compare,Ticker Share Value,SP 500 Value,Abs Value Compare,Stock Gain / (Loss),SP 500 Gain / (Loss),Ticker Start Year Close,SP Start Year Close,Share YTD,SP 500 YTD
0,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),AGG,25,95.72,2393.00,2018-12-31,0.127,NaN,0,...,-0.421648,2704.750050,3713.752840,-1009.002790,311.750050,1320.752840,105.704994,2506.850098,0.023509,0.158837
1,2014-04-21,Invesco DB Commodity Tracking (DBC),DBC,22,26.21,576.62,2018-12-31,0.033,NaN,1,...,-0.933457,356.619978,894.870106,-538.250128,-220.000022,318.250106,14.490000,2506.850098,0.118702,0.158837
2,2014-04-21,iShares Gold Trust (IAU),IAU,50,12.51,625.50,2018-12-31,0.033,NaN,2,...,-0.575105,611.000000,970.728124,-359.728124,-14.500000,345.228124,12.290000,2506.850098,-0.005696,0.158837
3,2014-04-21,iShares International Treasury Bond ETF (IGOV),IGOV,8,50.72,405.76,2018-12-31,0.023,NaN,3,...,-0.590961,389.920016,629.708463,-239.788447,-15.839984,223.948463,48.470001,2506.850098,0.005570,0.158837
4,2014-04-21,Vanguard FTSE All-Wld ex-US ETF (VEU),VEU,105,43.92,4611.60,2018-12-31,0.250,NaN,4,...,-0.374556,5429.549895,7156.850229,-1727.300334,817.949895,2545.250229,45.416271,2506.850098,0.138579,0.158837
5,2014-04-21,Vanguard Real Estate ETF (VNQ),VNQ,11,58.28,641.08,2018-12-31,0.034,NaN,5,...,-0.085039,940.389978,994.907092,-54.517114,299.309978,353.827092,74.040611,2506.850098,0.154637,0.158837
6,2014-04-21,Vanguard Total Stock Market ETF (VTI),VTI,72,88.20,6350.40,2018-12-31,0.500,NaN,6,...,0.129142,10675.440288,9855.334741,820.105547,4325.040288,3504.934741,126.943665,2506.850098,0.167998,0.158837
7,2014-05-05,Vanguard Total Stock Market ETF (VTI),VTI,32,88.67,2837.44,2018-12-31,0.500,NaN,7,...,0.130747,4744.640128,4373.652678,370.987450,1907.200128,1536.212678,126.943665,2506.850098,0.167998,0.158837

In [29]:
merged_portfolio_sp_latest_YTD_sp = merged_portfolio_sp_latest_YTD_sp.sort_values(by=['Ticker', 'Acquisition Date']
                                                                                  , ascending=[True, True])
merged_portfolio_sp_latest_YTD_sp

,Acquisition Date,Position,Ticker,Quantity,Unit Cost,Cost Basis,Start of Year,Target_Alloc,Comments,Counts,...,Abs. Return Compare,Ticker Share Value,SP 500 Value,Abs Value Compare,Stock Gain / (Loss),SP 500 Gain / (Loss),Ticker Start Year Close,SP Start Year Close,Share YTD,SP 500 YTD
0,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),AGG,25,95.72,2393.00,2018-12-31,0.127,NaN,0,...,-0.421648,2704.750050,3713.752840,-1009.002790,311.750050,1320.752840,105.704994,2506.850098,0.023509,0.158837
1,2014-04-21,Invesco DB Commodity Tracking (DBC),DBC,22,26.21,576.62,2018-12-31,0.033,NaN,1,...,-0.933457,356.619978,894.870106,-538.250128,-220.000022,318.250106,14.490000,2506.850098,0.118702,0.158837
2,2014-04-21,iShares Gold Trust (IAU),IAU,50,12.51,625.50,2018-12-31,0.033,NaN,2,...,-0.575105,611.000000,970.728124,-359.728124,-14.500000,345.228124,12.290000,2506.850098,-0.005696,0.158837
3,2014-04-21,iShares International Treasury Bond ETF (IGOV),IGOV,8,50.72,405.76,2018-12-31,0.023,NaN,3,...,-0.590961,389.920016,629.708463,-239.788447,-15.839984,223.948463,48.470001,2506.850098,0.005570,0.158837
4,2014-04-21,Vanguard FTSE All-Wld ex-US ETF (VEU),VEU,105,43.92,4611.60,2018-12-31,0.250,NaN,4,...,-0.374556,5429.549895,7156.850229,-1727.300334,817.949895,2545.250229,45.416271,2506.850098,0.138579,0.158837
5,2014-04-21,Vanguard Real Estate ETF (VNQ),VNQ,11,58.28,641.08,2018-12-31,0.034,NaN,5,...,-0.085039,940.389978,994.907092,-54.517114,299.309978,353.827092,74.040611,2506.850098,0.154637,0.158837
6,2014-04-21,Vanguard Total Stock Market ETF (VTI),VTI,72,88.20,6350.40,2018-12-31,0.500,NaN,6,...,0.129142,10675.440288,9855.334741,820.105547,4325.040288,3504.934741,126.943665,2506.850098,0.167998,0.158837
7,2014-05-05,Vanguard Total Stock Market ETF (VTI),VTI,32,88.67,2837.44,2018-12-31,0.500,NaN,7,...,0.130747,4744.640128,4373.652678,370.987450,1907.200128,1536.212678,126.943665,2506.850098,0.167998,0.158837

In [30]:
# Cumulative sum of original investment
merged_portfolio_sp_latest_YTD_sp['Cum Invst'] = merged_portfolio_sp_latest_YTD_sp['Cost Basis'].cumsum()

# Cumulative sum of Ticker Share Value (latest FMV based on initial quantity purchased).
merged_portfolio_sp_latest_YTD_sp['Cum Ticker Returns'] = merged_portfolio_sp_latest_YTD_sp['Ticker Share Value'].cumsum()

# Cumulative sum of SP Share Value (latest FMV driven off of initial SP equiv purchase).
merged_portfolio_sp_latest_YTD_sp['Cum SP Returns'] = merged_portfolio_sp_latest_YTD_sp['SP 500 Value'].cumsum()

# Cumulative CoC multiple return for stock investments
merged_portfolio_sp_latest_YTD_sp['Cum Ticker ROI Mult'] = merged_portfolio_sp_latest_YTD_sp['Cum Ticker Returns'] / merged_portfolio_sp_latest_YTD_sp['Cum Invst']

# Cumulative Pct return for stock investments
merged_portfolio_sp_latest_YTD_sp['Cum Ticker ROI Pct'] = merged_portfolio_sp_latest_YTD_sp['Cum Ticker Returns'] / merged_portfolio_sp_latest_YTD_sp['Cum Invst'] - 1

# Cumulative Pct return for SP500
merged_portfolio_sp_latest_YTD_sp['Cum SP ROI Pct'] = merged_portfolio_sp_latest_YTD_sp['Cum SP Returns'] / merged_portfolio_sp_latest_YTD_sp['Cum Invst'] - 1

merged_portfolio_sp_latest_YTD_sp

,Acquisition Date,Position,Ticker,Quantity,Unit Cost,Cost Basis,Start of Year,Target_Alloc,Comments,Counts,...,Ticker Start Year Close,SP Start Year Close,Share YTD,SP 500 YTD,Cum Invst,Cum Ticker Returns,Cum SP Returns,Cum Ticker ROI Mult,Cum Ticker ROI Pct,Cum SP ROI Pct
0,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),AGG,25,95.72,2393.00,2018-12-31,0.127,NaN,0,...,105.704994,2506.850098,0.023509,0.158837,2393.00,2704.750050,3713.752840,1.130276,0.130276,0.551923
1,2014-04-21,Invesco DB Commodity Tracking (DBC),DBC,22,26.21,576.62,2018-12-31,0.033,NaN,1,...,14.490000,2506.850098,0.118702,0.158837,2969.62,3061.370028,4608.622946,1.030896,0.030896,0.551923
2,2014-04-21,iShares Gold Trust (IAU),IAU,50,12.51,625.50,2018-12-31,0.033,NaN,2,...,12.290000,2506.850098,-0.005696,0.158837,3595.12,3672.370028,5579.351070,1.021487,0.021487,0.551923
3,2014-04-21,iShares International Treasury Bond ETF (IGOV),IGOV,8,50.72,405.76,2018-12-31,0.023,NaN,3,...,48.470001,2506.850098,0.005570,0.158837,4000.88,4062.290044,6209.059533,1.015349,0.015349,0.551923
4,2014-04-21,Vanguard FTSE All-Wld ex-US ETF (VEU),VEU,105,43.92,4611.60,2018-12-31,0.250,NaN,4,...,45.416271,2506.850098,0.138579,0.158837,8612.48,9491.839939,13365.909762,1.102103,0.102103,0.551923
5,2014-04-21,Vanguard Real Estate ETF (VNQ),VNQ,11,58.28,641.08,2018-12-31,0.034,NaN,5,...,74.040611,2506.850098,0.154637,0.158837,9253.56,10432.229917,14360.816853,1.127375,0.127375,0.551923
6,2014-04-21,Vanguard Total Stock Market ETF (VTI),VTI,72,88.20,6350.40,2018-12-31,0.500,NaN,6,...,126.943665,2506.850098,0.167998,0.158837,15603.96,21107.670205,24216.151594,1.352712,0.352712,0.551923
7,2014-05-05,Vanguard Total Stock Market ETF (VTI),VTI,32,88.67,2837.44,2018-12-31,0.500,NaN,7,...,126.943665,2506.850098,0.167998,0.158837,18441.40,25852.310333,28589.804273,1.401863,0.401863,0.550306

In [31]:
# Only include positions where currently invested, if applicable, for subset of visualizations.

merged_portfolio_sp_latest_YTD_sp_chart = merged_portfolio_sp_latest_YTD_sp[merged_portfolio_sp_latest_YTD_sp['Unit Cost']>0]

merged_portfolio_sp_latest_YTD_sp_chart

,Acquisition Date,Position,Ticker,Quantity,Unit Cost,Cost Basis,Start of Year,Target_Alloc,Comments,Counts,...,Ticker Start Year Close,SP Start Year Close,Share YTD,SP 500 YTD,Cum Invst,Cum Ticker Returns,Cum SP Returns,Cum Ticker ROI Mult,Cum Ticker ROI Pct,Cum SP ROI Pct
0,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),AGG,25,95.72,2393.00,2018-12-31,0.127,NaN,0,...,105.704994,2506.850098,0.023509,0.158837,2393.00,2704.750050,3713.752840,1.130276,0.130276,0.551923
1,2014-04-21,Invesco DB Commodity Tracking (DBC),DBC,22,26.21,576.62,2018-12-31,0.033,NaN,1,...,14.490000,2506.850098,0.118702,0.158837,2969.62,3061.370028,4608.622946,1.030896,0.030896,0.551923
2,2014-04-21,iShares Gold Trust (IAU),IAU,50,12.51,625.50,2018-12-31,0.033,NaN,2,...,12.290000,2506.850098,-0.005696,0.158837,3595.12,3672.370028,5579.351070,1.021487,0.021487,0.551923
3,2014-04-21,iShares International Treasury Bond ETF (IGOV),IGOV,8,50.72,405.76,2018-12-31,0.023,NaN,3,...,48.470001,2506.850098,0.005570,0.158837,4000.88,4062.290044,6209.059533,1.015349,0.015349,0.551923
4,2014-04-21,Vanguard FTSE All-Wld ex-US ETF (VEU),VEU,105,43.92,4611.60,2018-12-31,0.250,NaN,4,...,45.416271,2506.850098,0.138579,0.158837,8612.48,9491.839939,13365.909762,1.102103,0.102103,0.551923
5,2014-04-21,Vanguard Real Estate ETF (VNQ),VNQ,11,58.28,641.08,2018-12-31,0.034,NaN,5,...,74.040611,2506.850098,0.154637,0.158837,9253.56,10432.229917,14360.816853,1.127375,0.127375,0.551923
6,2014-04-21,Vanguard Total Stock Market ETF (VTI),VTI,72,88.20,6350.40,2018-12-31,0.500,NaN,6,...,126.943665,2506.850098,0.167998,0.158837,15603.96,21107.670205,24216.151594,1.352712,0.352712,0.551923
7,2014-05-05,Vanguard Total Stock Market ETF (VTI),VTI,32,88.67,2837.44,2018-12-31,0.500,NaN,7,...,126.943665,2506.850098,0.167998,0.158837,18441.40,25852.310333,28589.804273,1.401863,0.401863,0.550306

In [32]:
# This dataframe will only look at the positions with an intended contribution, if applicable.

merged_portfolio_sp_latest_YTD_sp_contr = merged_portfolio_sp_latest_YTD_sp[merged_portfolio_sp_latest_YTD_sp['Target_Alloc']>0]

merged_portfolio_sp_latest_YTD_sp_contr

,Acquisition Date,Position,Ticker,Quantity,Unit Cost,Cost Basis,Start of Year,Target_Alloc,Comments,Counts,...,Ticker Start Year Close,SP Start Year Close,Share YTD,SP 500 YTD,Cum Invst,Cum Ticker Returns,Cum SP Returns,Cum Ticker ROI Mult,Cum Ticker ROI Pct,Cum SP ROI Pct
0,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),AGG,25,95.72,2393.00,2018-12-31,0.127,NaN,0,...,105.704994,2506.850098,0.023509,0.158837,2393.00,2704.750050,3713.752840,1.130276,0.130276,0.551923
1,2014-04-21,Invesco DB Commodity Tracking (DBC),DBC,22,26.21,576.62,2018-12-31,0.033,NaN,1,...,14.490000,2506.850098,0.118702,0.158837,2969.62,3061.370028,4608.622946,1.030896,0.030896,0.551923
2,2014-04-21,iShares Gold Trust (IAU),IAU,50,12.51,625.50,2018-12-31,0.033,NaN,2,...,12.290000,2506.850098,-0.005696,0.158837,3595.12,3672.370028,5579.351070,1.021487,0.021487,0.551923
3,2014-04-21,iShares International Treasury Bond ETF (IGOV),IGOV,8,50.72,405.76,2018-12-31,0.023,NaN,3,...,48.470001,2506.850098,0.005570,0.158837,4000.88,4062.290044,6209.059533,1.015349,0.015349,0.551923
4,2014-04-21,Vanguard FTSE All-Wld ex-US ETF (VEU),VEU,105,43.92,4611.60,2018-12-31,0.250,NaN,4,...,45.416271,2506.850098,0.138579,0.158837,8612.48,9491.839939,13365.909762,1.102103,0.102103,0.551923
5,2014-04-21,Vanguard Real Estate ETF (VNQ),VNQ,11,58.28,641.08,2018-12-31,0.034,NaN,5,...,74.040611,2506.850098,0.154637,0.158837,9253.56,10432.229917,14360.816853,1.127375,0.127375,0.551923
6,2014-04-21,Vanguard Total Stock Market ETF (VTI),VTI,72,88.20,6350.40,2018-12-31,0.500,NaN,6,...,126.943665,2506.850098,0.167998,0.158837,15603.96,21107.670205,24216.151594,1.352712,0.352712,0.551923
7,2014-05-05,Vanguard Total Stock Market ETF (VTI),VTI,32,88.67,2837.44,2018-12-31,0.500,NaN,7,...,126.943665,2506.850098,0.167998,0.158837,18441.40,25852.310333,28589.804273,1.401863,0.401863,0.550306

In [33]:
# Shorten dataframe to focus on columns that will be used to look at intended versus current allocations.

merged_portfolio_sp_latest_YTD_sp_contr_subset = merged_portfolio_sp_latest_YTD_sp_contr[['Ticker', 'Target_Alloc', 'Cost Basis', 'Ticker Share Value']]

merged_portfolio_sp_latest_YTD_sp_contr_subset

  Ticker  Target_Alloc  Cost Basis  Ticker Share Value
0    AGG         0.127     2393.00         2704.750050
1    DBC         0.033      576.62          356.619978
2    IAU         0.033      625.50          611.000000
3   IGOV         0.023      405.76          389.920016
4    VEU         0.250     4611.60         5429.549895
5    VNQ         0.034      641.08          940.389978
6    VTI         0.500     6350.40        10675.440288
7    VTI         0.500     2837.44         4744.640128

In [34]:
# If you've bought multiple positions at different times, this pivot table will aggregate the sums for each position.

merged_portfolio_sp_latest_YTD_sp_contr_subset_pivot = merged_portfolio_sp_latest_YTD_sp_contr_subset.pivot_table(
    index=['Ticker', 'Target_Alloc'], values='Ticker Share Value', aggfunc='sum')

merged_portfolio_sp_latest_YTD_sp_contr_subset_pivot.reset_index(inplace=True)

merged_portfolio_sp_latest_YTD_sp_contr_subset_pivot

  Ticker  Target_Alloc  Ticker Share Value
0    AGG         0.127         2704.750050
1    DBC         0.033          356.619978
2    IAU         0.033          611.000000
3   IGOV         0.023          389.920016
4    VEU         0.250         5429.549895
5    VNQ         0.034          940.389978
6    VTI         0.500        15420.080416

In [35]:
# These new columns calculate the actual allocation to compare to the target allocation.

merged_portfolio_sp_latest_YTD_sp_contr_subset_pivot['Total'] = merged_portfolio_sp_latest_YTD_sp_contr_subset_pivot.loc[:, 'Ticker Share Value'].cumsum()

merged_portfolio_sp_latest_YTD_sp_contr_subset_pivot['Allocation'] = merged_portfolio_sp_latest_YTD_sp_contr_subset_pivot['Ticker Share Value'] / merged_portfolio_sp_latest_YTD_sp_contr_subset_pivot.iloc[-1, -1]

merged_portfolio_sp_latest_YTD_sp_contr_subset_pivot

  Ticker  Target_Alloc  Ticker Share Value         Total  Allocation
0    AGG         0.127         2704.750050   2704.750050    0.104623
1    DBC         0.033          356.619978   3061.370028    0.013795
2    IAU         0.033          611.000000   3672.370028    0.023634
3   IGOV         0.023          389.920016   4062.290044    0.015083
4    VEU         0.250         5429.549895   9491.839939    0.210022
5    VNQ         0.034          940.389978  10432.229917    0.036375
6    VTI         0.500        15420.080416  25852.310333    0.596468

In [36]:
merged_portfolio_sp_latest_YTD_sp_contr_subset_pivot.sort_values(by='Target_Alloc', ascending=False, inplace=True)

merged_portfolio_sp_latest_YTD_sp_contr_subset_pivot

  Ticker  Target_Alloc  Ticker Share Value         Total  Allocation
6    VTI         0.500        15420.080416  25852.310333    0.596468
4    VEU         0.250         5429.549895   9491.839939    0.210022
0    AGG         0.127         2704.750050   2704.750050    0.104623
5    VNQ         0.034          940.389978  10432.229917    0.036375
1    DBC         0.033          356.619978   3061.370028    0.013795
2    IAU         0.033          611.000000   3672.370028    0.023634
3   IGOV         0.023          389.920016   4062.290044    0.015083

## Closing High Eval

In [37]:
# Referencing the adj_close dataframe from above

adj_close.head()

  Ticker       Date  Adj Close
0    AGG 2010-01-04  80.615921
1    AGG 2010-01-05  80.982643
2    AGG 2010-01-06  80.935890
3    AGG 2010-01-07  80.842201
4    AGG 2010-01-08  80.889038

In [38]:
portfolio_df.head()

,Acquisition Date,Position,Ticker,Quantity,Unit Cost,Cost Basis,Start of Year,Target_Alloc,Comments,Counts,Ticker #
0,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),AGG,25,95.72,2393.00,2018-12-31,0.127,NaN,0,AGG 0
1,2014-04-21,Invesco DB Commodity Tracking (DBC),DBC,22,26.21,576.62,2018-12-31,0.033,NaN,1,DBC 1
2,2014-04-21,iShares Gold Trust (IAU),IAU,50,12.51,625.50,2018-12-31,0.033,NaN,2,IAU 2
3,2014-04-21,iShares International Treasury Bond ETF (IGOV),IGOV,8,50.72,405.76,2018-12-31,0.023,NaN,3,IGOV 3
4,2014-04-21,Vanguard FTSE All-Wld ex-US ETF (VEU),VEU,105,43.92,4611.60,2018-12-31,0.250,NaN,4,VEU 4

In [39]:
# Need to factor in that some positions were purchased much more recently than others.
# Join adj_close dataframe with portfolio in order to have acquisition date.

adj_close_acq_date = pd.merge(adj_close, portfolio_df, on='Ticker')

adj_close_acq_date.head()

,Ticker,Date,Adj Close,Acquisition Date,Position,Quantity,Unit Cost,Cost Basis,Start of Year,Target_Alloc,Comments,Counts,Ticker #
0,AGG,2010-01-04,80.615921,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),25,95.72,2393.0,2018-12-31,0.127,NaN,0,AGG 0
1,AGG,2010-01-05,80.982643,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),25,95.72,2393.0,2018-12-31,0.127,NaN,0,AGG 0
2,AGG,2010-01-06,80.935890,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),25,95.72,2393.0,2018-12-31,0.127,NaN,0,AGG 0
3,AGG,2010-01-07,80.842201,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),25,95.72,2393.0,2018-12-31,0.127,NaN,0,AGG 0
4,AGG,2010-01-08,80.889038,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),25,95.72,2393.0,2018-12-31,0.127,NaN,0,AGG 0

In [40]:
# delete_columns = ['Quantity', 'Unit Cost', 'Cost Basis', 'Start of Year']

del adj_close_acq_date['Quantity']
del adj_close_acq_date['Unit Cost']
del adj_close_acq_date['Cost Basis']
del adj_close_acq_date['Start of Year']

adj_close_acq_date.sort_values(by=['Ticker', 'Acquisition Date', 'Date'], ascending=[True, True, True], inplace=True)

In [41]:
# Create a new column, Data Delta, to figure out the dates in time series post when the position was acquired.

adj_close_acq_date['Date Delta'] = adj_close_acq_date['Date'] - adj_close_acq_date['Acquisition Date']

adj_close_acq_date['Date Delta'] = adj_close_acq_date[['Date Delta']].apply(pd.to_numeric)  

adj_close_acq_date.head()

,Ticker,Date,Adj Close,Acquisition Date,Position,Target_Alloc,Comments,Counts,Ticker #,Date Delta
0,AGG,2010-01-04,80.615921,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),0.127,NaN,0,AGG 0,-135475200000000000
1,AGG,2010-01-05,80.982643,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),0.127,NaN,0,AGG 0,-135388800000000000
2,AGG,2010-01-06,80.935890,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),0.127,NaN,0,AGG 0,-135302400000000000
3,AGG,2010-01-07,80.842201,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),0.127,NaN,0,AGG 0,-135216000000000000
4,AGG,2010-01-08,80.889038,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),0.127,NaN,0,AGG 0,-135129600000000000

In [42]:
# Modified the dataframe being evaluated to look at highest close which occurred after Acquisition Date (aka, not prior to purchase).

adj_close_acq_date_modified = adj_close_acq_date[adj_close_acq_date['Date Delta']>=0]

adj_close_acq_date_modified.head()

,Ticker,Date,Adj Close,Acquisition Date,Position,Target_Alloc,Comments,Counts,Ticker #,Date Delta
1080,AGG,2014-04-21,95.720200,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),0.127,NaN,0,AGG 0,0
1081,AGG,2014-04-22,95.702522,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),0.127,NaN,0,AGG 0,86400000000000
1082,AGG,2014-04-23,95.799820,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),0.127,NaN,0,AGG 0,172800000000000
1083,AGG,2014-04-24,95.888344,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),0.127,NaN,0,AGG 0,259200000000000
1084,AGG,2014-04-25,95.906013,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),0.127,NaN,0,AGG 0,345600000000000

In [43]:
# This pivot table will index on the Ticker and Acquisition Date, and find the max adjusted close.

adj_close_pivot = adj_close_acq_date_modified.pivot_table(index=['Ticker', 'Acquisition Date'], values='Adj Close', aggfunc=np.max)

adj_close_pivot.reset_index(inplace=True)

adj_close_pivot[0:10]

  Ticker Acquisition Date   Adj Close
0    AGG       2014-04-21  108.817978
1    DBC       2014-04-21   26.574825
2    IAU       2014-04-21   13.180000
3   IGOV       2014-04-21   51.906197
4    VEU       2014-04-21   56.954277
5    VNQ       2014-04-21   88.050003
6    VTI       2014-04-21  148.906891
7    VTI       2014-05-05  148.906891

In [44]:
# Merge the adj close pivot table with the adj_close table in order to grab the date of the Adj Close High (good to know).

adj_close_pivot_merged = pd.merge(adj_close_pivot, adj_close
                                             , on=['Ticker', 'Adj Close'])

adj_close_pivot_merged.head()

  Ticker Acquisition Date   Adj Close       Date
0    AGG       2014-04-21  108.817978 2019-03-28
1    DBC       2014-04-21   26.574825 2013-04-09
2    DBC       2014-04-21   26.574825 2014-06-20
3    IAU       2014-04-21   13.180000 2010-10-08
4    IAU       2014-04-21   13.180000 2016-07-08

In [45]:
# Duplicates were created where the stock had the same high on multiple dates.
# Sorted by latest date and then dropped duplicates, which drops the earlier high from consideration.

adj_close_pivot_merged.sort_values(by=['Ticker', 'Acquisition Date', 'Date'], ascending=[True, True, False], inplace=True)

adj_close_pivot_merged.drop_duplicates(['Ticker', 'Acquisition Date', 'Adj Close'], inplace=True)

adj_close_pivot_merged.head()

  Ticker Acquisition Date   Adj Close       Date
0    AGG       2014-04-21  108.817978 2019-03-28
2    DBC       2014-04-21   26.574825 2014-06-20
4    IAU       2014-04-21   13.180000 2016-07-08
5   IGOV       2014-04-21   51.906197 2018-03-26
6    VEU       2014-04-21   56.954277 2018-01-26

In [46]:
# Merge the Adj Close pivot table with the master dataframe to have the closing high since you have owned the stock.

merged_portfolio_sp_latest_YTD_sp_closing_high = pd.merge(merged_portfolio_sp_latest_YTD_sp, adj_close_pivot_merged
                                             , on=['Ticker', 'Acquisition Date'])

# Renaming so that it's clear that the new columns are two year closing high and two year closing high date.
merged_portfolio_sp_latest_YTD_sp_closing_high.rename(columns={'Adj Close': 'Closing High Adj Close', 'Date': 'Closing High Adj Close Date'}, inplace=True)

merged_portfolio_sp_latest_YTD_sp_closing_high['Pct off High'] = merged_portfolio_sp_latest_YTD_sp_closing_high['Ticker Adj Close'] / merged_portfolio_sp_latest_YTD_sp_closing_high['Closing High Adj Close'] - 1 

merged_portfolio_sp_latest_YTD_sp_closing_high.head()

,Acquisition Date,Position,Ticker,Quantity,Unit Cost,Cost Basis,Start of Year,Target_Alloc,Comments,Counts,...,SP 500 YTD,Cum Invst,Cum Ticker Returns,Cum SP Returns,Cum Ticker ROI Mult,Cum Ticker ROI Pct,Cum SP ROI Pct,Closing High Adj Close,Closing High Adj Close Date,Pct off High
0,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),AGG,25,95.72,2393.00,2018-12-31,0.127,NaN,0,...,0.158837,2393.00,2704.750050,3713.752840,1.130276,0.130276,0.551923,108.817978,2019-03-28,-0.005771
1,2014-04-21,Invesco DB Commodity Tracking (DBC),DBC,22,26.21,576.62,2018-12-31,0.033,NaN,1,...,0.158837,2969.62,3061.370028,4608.622946,1.030896,0.030896,0.551923,26.574825,2014-06-20,-0.390024
2,2014-04-21,iShares Gold Trust (IAU),IAU,50,12.51,625.50,2018-12-31,0.033,NaN,2,...,0.158837,3595.12,3672.370028,5579.351070,1.021487,0.021487,0.551923,13.180000,2016-07-08,-0.072838
3,2014-04-21,iShares International Treasury Bond ETF (IGOV),IGOV,8,50.72,405.76,2018-12-31,0.023,NaN,3,...,0.158837,4000.88,4062.290044,6209.059533,1.015349,0.015349,0.551923,51.906197,2018-03-26,-0.060998
4,2014-04-21,Vanguard FTSE All-Wld ex-US ETF (VEU),VEU,105,43.92,4611.60,2018-12-31,0.250,NaN,4,...,0.158837,8612.48,9491.839939,13365.909762,1.102103,0.102103,0.551923,56.954277,2018-01-26,-0.092079

In [47]:
merged_portfolio_sp_latest_YTD_sp_closing_high.tail()

,Acquisition Date,Position,Ticker,Quantity,Unit Cost,Cost Basis,Start of Year,Target_Alloc,Comments,Counts,...,SP 500 YTD,Cum Invst,Cum Ticker Returns,Cum SP Returns,Cum Ticker ROI Mult,Cum Ticker ROI Pct,Cum SP ROI Pct,Closing High Adj Close,Closing High Adj Close Date,Pct off High
3,2014-04-21,iShares International Treasury Bond ETF (IGOV),IGOV,8,50.72,405.76,2018-12-31,0.023,NaN,3,...,0.158837,4000.88,4062.290044,6209.059533,1.015349,0.015349,0.551923,51.906197,2018-03-26,-0.060998
4,2014-04-21,Vanguard FTSE All-Wld ex-US ETF (VEU),VEU,105,43.92,4611.60,2018-12-31,0.250,NaN,4,...,0.158837,8612.48,9491.839939,13365.909762,1.102103,0.102103,0.551923,56.954277,2018-01-26,-0.092079
5,2014-04-21,Vanguard Real Estate ETF (VNQ),VNQ,11,58.28,641.08,2018-12-31,0.034,NaN,5,...,0.158837,9253.56,10432.229917,14360.816853,1.127375,0.127375,0.551923,88.050003,2019-04-12,-0.029074
6,2014-04-21,Vanguard Total Stock Market ETF (VTI),VTI,72,88.20,6350.40,2018-12-31,0.500,NaN,6,...,0.158837,15603.96,21107.670205,24216.151594,1.352712,0.352712,0.551923,148.906891,2018-09-20,-0.004277
7,2014-05-05,Vanguard Total Stock Market ETF (VTI),VTI,32,88.67,2837.44,2018-12-31,0.500,NaN,7,...,0.158837,18441.40,25852.310333,28589.804273,1.401863,0.401863,0.550306,148.906891,2018-09-20,-0.004277

## Performance Visualizations

### Allocation relative to Target

In [48]:
trace1 = go.Bar(
    x = merged_portfolio_sp_latest_YTD_sp_contr_subset_pivot['Ticker'],
    y = merged_portfolio_sp_latest_YTD_sp_contr_subset_pivot['Target_Alloc'],
    name = 'Target Allocation')

trace2 = go.Bar(
    x = merged_portfolio_sp_latest_YTD_sp_contr_subset_pivot['Ticker'],
    y = merged_portfolio_sp_latest_YTD_sp_contr_subset_pivot['Allocation'],
    name = 'Current Allocation')
    
data = [trace1, trace2]

layout = go.Layout(title = 'Target Allocation versus Current Allocation'
    , barmode = 'group'
    , yaxis=dict(title='Allocations', tickformat=".2%")
    , xaxis=dict(title='Ticker')
    , legend=dict(x=0.8,y=1.2)
    )

fig = go.Figure(data=data, layout=layout)
iplot(fig)

### YTD Charts.

In [49]:
trace1 = go.Bar(
    x = merged_portfolio_sp_latest_YTD_sp_chart['Ticker'],
    y = merged_portfolio_sp_latest_YTD_sp_chart['Share YTD'],
    name = 'Ticker YTD')

trace2 = go.Scatter(
    x = merged_portfolio_sp_latest_YTD_sp_chart['Ticker'],
    y = merged_portfolio_sp_latest_YTD_sp_chart['SP 500 YTD'],
    name = 'SP500 YTD')
    
data = [trace1, trace2]

layout = go.Layout(title = 'Total Return vs S&P 500, YTD'
    , barmode = 'group'
    , yaxis=dict(title='Returns', tickformat=".2%")
    , xaxis=dict(title='Ticker')
    , legend=dict(x=0.8,y=1.2)
    )

fig = go.Figure(data=data, layout=layout)
iplot(fig)

### Total Return.

In [50]:
trace1 = go.Bar(
    x = merged_portfolio_sp_latest_YTD_sp_chart['Ticker #'],
    y = merged_portfolio_sp_latest_YTD_sp_chart['Ticker Return'],
    name = 'Ticker Total Return')

trace2 = go.Scatter(
    x = merged_portfolio_sp_latest_YTD_sp_chart['Ticker #'],
    y = merged_portfolio_sp_latest_YTD_sp_chart['SP Return'],
    name = 'SP500 Total Return')
    
data = [trace1, trace2]

layout = go.Layout(title = 'Total Return vs S&P 500'
    , barmode = 'group'
    , yaxis=dict(title='Returns', tickformat=".2%")
    , xaxis=dict(title='Ticker')
    , legend=dict(x=.8,y=1.2)
    )

fig = go.Figure(data=data, layout=layout)
iplot(fig)

### Total Cumulative Investments Over Time

In [51]:
trace1 = go.Scatter(
    x = merged_portfolio_sp_latest_YTD_sp_chart['Ticker #'],
    y = merged_portfolio_sp_latest_YTD_sp_chart['Cum Invst'],
    mode = 'lines+markers',
    name = 'Cum Invst')

trace2 = go.Scatter(
    x = merged_portfolio_sp_latest_YTD_sp_chart['Ticker #'],
    y = merged_portfolio_sp_latest_YTD_sp_chart['Cum Ticker Returns'],
    mode = 'lines+markers',
    name = 'Cum Ticker Returns')

trace3 = go.Scatter(
    x = merged_portfolio_sp_latest_YTD_sp_chart['Ticker #'],
    y = merged_portfolio_sp_latest_YTD_sp_chart['Cum SP Returns'],
    mode = 'lines+markers',
    name = 'Cum SP500 Returns')

data = [trace1, trace2, trace3]

layout = go.Layout(title = 'Total Investment Comparisons by Ticker'
    , barmode = 'group'
    , yaxis=dict(title='Returns')
    , xaxis=dict(title='Ticker')
    , legend=dict(x=1,y=1)
    )

fig = go.Figure(data=data, layout=layout)
iplot(fig)

In [52]:
# Graphing the total return percents.

trace1 = go.Scatter(
    x = merged_portfolio_sp_latest_YTD_sp_chart['Ticker #'],
    y = merged_portfolio_sp_latest_YTD_sp_chart['Cum Ticker ROI Pct'],
    mode = 'lines+markers',
    name = 'Cum Ticker ROI Pct')

trace2 = go.Scatter(
    x = merged_portfolio_sp_latest_YTD_sp_chart['Ticker #'],
    y = merged_portfolio_sp_latest_YTD_sp_chart['Cum SP ROI Pct'],
    mode = 'lines+markers',
    name = 'Cum SP ROI Pct')

data = [trace1, trace2]

layout = go.Layout(title = 'Pct Comparisons by Ticker'
    , barmode = 'group'
    , yaxis=dict(title='Returns', tickformat=".2%")
    , xaxis=dict(title='Ticker')
    , legend=dict(x=1,y=1)
    )

fig = go.Figure(data=data, layout=layout)
iplot(fig)

## Closing High Visualizations

In [53]:
trace1 = go.Bar(
    x = merged_portfolio_sp_latest_YTD_sp_closing_high['Ticker #'][0:10],
    y = merged_portfolio_sp_latest_YTD_sp_closing_high['Pct off High'][0:10],
    name = 'Pct off High')

data = [trace1]

layout = go.Layout(title = 'Adj Close % off of High Since Purchased'
    , barmode = 'group'
    , yaxis=dict(title='% Below Adj Close High Since Purchased', tickformat=".2%")
    , xaxis=dict(title='Ticker')
    , legend=dict(x=.8,y=1)
    )

fig = go.Figure(data=data, layout=layout)
iplot(fig)

## Dividends

In [54]:
# https://www.streetinsider.com/dividend_history.php?q=bdx

# https://www.nasdaq.com/symbol/rgld/dividend-history

# https://seekingalpha.com/symbol/EXG/dividends/history

# SP500 dividends:  https://ycharts.com/indicators/sp_500_dividends_per_share

In [55]:
# Import the Historical Dividends worksheet with ex-dividend dates and dividend amounts:

dividend_df = pd.read_excel('Historical Dividends.xlsx', sheet_name='Historical Dividends'
                            , parse_dates=['Ex-Div. Date', 'Decl. Date', 'Rec. Date', 'Pay. Date'])

dividend_df.head(10)

,Ticker,Ex-Div. Date,Amount,Type,Yield,Change,Decl. Date,Rec. Date,Pay. Date,Comments
0,AGG,2019-04-01,0.262,NaN,NaN,NaN,2018-12-13 00:00:00,2019-04-02 00:00:00,2019-04-05 00:00:00,NaN
1,AGG,2019-03-01,0.267,NaN,NaN,NaN,2018-12-13 00:00:00,2019-03-04 00:00:00,2019-03-07 00:00:00,NaN
2,AGG,2019-02-01,0.268,NaN,NaN,NaN,2018-12-13 00:00:00,2019-02-04 00:00:00,2019-02-07 00:00:00,NaN
3,AGG,2018-12-18,0.210,NaN,NaN,NaN,2018-01-03 00:00:00,2018-12-19 00:00:00,2018-12-24 00:00:00,NaN
4,AGG,2018-11-01,0.256,NaN,NaN,NaN,2018-01-03 00:00:00,2018-11-02 00:00:00,2018-11-07 00:00:00,NaN
5,AGG,2018-10-01,0.252,NaN,NaN,NaN,2018-01-03 00:00:00,2018-10-02 00:00:00,2018-10-05 00:00:00,NaN
6,AGG,2018-09-04,0.232,NaN,NaN,NaN,2018-01-03 00:00:00,2018-09-05 00:00:00,2018-09-10 00:00:00,NaN
7,AGG,2018-08-01,0.251,NaN,NaN,NaN,2018-01-03 00:00:00,2018-08-02 00:00:00,2018-08-07 00:00:00,NaN
8,AGG,2018-07-02,0.229,NaN,NaN,NaN,2018-01-03 00:00:00,2018-07-03 00:00:00,2018-07-09 00:00:00,NaN
9,AGG,2018-06-01,0.249,NaN,NaN,NaN,2018-01-03 00:00:00,2018-06-04 00:00:00,2018-06-07 00:00:00,NaN

In [56]:
# Filter a separate dividend df to only have the SP500 dividends.

dividend_df_sp500 = dividend_df[dividend_df['Ticker']=='^GSPC']

dividend_df_sp500.head()

,Ticker,Ex-Div. Date,Amount,Type,Yield,Change,Decl. Date,Rec. Date,Pay. Date,Comments
213,^GSPC,2018-12-31,14.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,^GSPC,2018-09-30,13.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,^GSPC,2018-06-30,13.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,^GSPC,2018-03-31,12.79,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,^GSPC,2017-12-31,12.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
# subset the dividend df for the needed columns.

dividend_df_subset = dividend_df[['Ticker', 'Ex-Div. Date', 'Amount']]

dividend_df_subset.head()

  Ticker Ex-Div. Date  Amount
0    AGG   2019-04-01   0.262
1    AGG   2019-03-01   0.267
2    AGG   2019-02-01   0.268
3    AGG   2018-12-18   0.210
4    AGG   2018-11-01   0.256

In [58]:
# subset the portfolio df for needed columns.

portfolio_df_subset = merged_portfolio_sp_latest_YTD_sp_closing_high[['Ticker #', 'Acquisition Date', 'Ticker', 'Quantity'
                                                                      , 'Latest Date', 'Equiv SP Shares']]

portfolio_df_subset.tail()

  Ticker # Acquisition Date Ticker  Quantity Latest Date  Equiv SP Shares
3   IGOV 3       2014-04-21   IGOV         8  2019-04-18         0.216765
4    VEU 4       2014-04-21    VEU       105  2019-04-18         2.463606
5    VNQ 5       2014-04-21    VNQ        11  2019-04-18         0.342477
6    VTI 6       2014-04-21    VTI        72  2019-04-18         3.392507
7    VTI 7       2014-05-05    VTI        32  2019-04-18         1.505545

In [59]:
# Merge the two subsets with the data needed to pull in the dividends received during ownership.

merged_subsets = pd.merge(portfolio_df_subset, dividend_df_subset, on='Ticker', how='left')

merged_subsets.tail()

,Ticker #,Acquisition Date,Ticker,Quantity,Latest Date,Equiv SP Shares,Ex-Div. Date,Amount
233,VTI 7,2014-05-05,VTI,32,2019-04-18,1.505545,2014-06-24,0.420
234,VTI 7,2014-05-05,VTI,32,2019-04-18,1.505545,2014-03-25,0.423
235,VTI 7,2014-05-05,VTI,32,2019-04-18,1.505545,2013-12-20,0.494
236,VTI 7,2014-05-05,VTI,32,2019-04-18,1.505545,2013-09-23,0.429
237,VTI 7,2014-05-05,VTI,32,2019-04-18,1.505545,2013-06-24,0.386

In [60]:
# This function determines if you owned the stock and were eligible to be paid the dividend.

def dividend_post_acquisition(df):
    if df['Ex-Div. Date'] > df['Acquisition Date'] and df['Ex-Div. Date'] <= stocks_end:
        val = 1
    elif df['Ex-Div. Date'] <= df['Acquisition Date']:
        val = 0
    else:
        val = 0
    return val

In [61]:
# Acq indicator of 1 means that you were eligible and received the dividend.

merged_subsets['Acq Indicator'] = merged_subsets.apply(dividend_post_acquisition, axis=1)

merged_subsets['Amount'].fillna(0, inplace=True)

merged_subsets.head()

,Ticker #,Acquisition Date,Ticker,Quantity,Latest Date,Equiv SP Shares,Ex-Div. Date,Amount,Acq Indicator
0,AGG 0,2014-04-21,AGG,25,2019-04-18,1.278387,2019-04-01,0.262,1
1,AGG 0,2014-04-21,AGG,25,2019-04-18,1.278387,2019-03-01,0.267,1
2,AGG 0,2014-04-21,AGG,25,2019-04-18,1.278387,2019-02-01,0.268,1
3,AGG 0,2014-04-21,AGG,25,2019-04-18,1.278387,2018-12-18,0.210,1
4,AGG 0,2014-04-21,AGG,25,2019-04-18,1.278387,2018-11-01,0.256,1

In [62]:
# filter the df on the dividends where you were eligible, calculate dividend based on share ownership.

merged_subsets_eligible = merged_subsets[merged_subsets['Acq Indicator']==1]

merged_subsets_eligible.loc[:, 'Dividend Amt'] = merged_subsets.loc[:, 'Amount'] * merged_subsets.loc[:, 'Quantity']

# merged_subsets_eligible['Date'] = pd.to_datetime(merged_subsets['Date'])

merged_subsets_eligible.loc[:, 'Year'] = merged_subsets.loc[:, 'Ex-Div. Date'].dt.year

merged_subsets_eligible.head()

C:\Users\Kevin\Anaconda2\envs\py35\lib\site-packages\pandas\core\indexing.py:357: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Kevin\Anaconda2\envs\py35\lib\site-packages\pandas\core\indexing.py:537: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Ticker #,Acquisition Date,Ticker,Quantity,Latest Date,Equiv SP Shares,Ex-Div. Date,Amount,Acq Indicator,Dividend Amt,Year
0,AGG 0,2014-04-21,AGG,25,2019-04-18,1.278387,2019-04-01,0.262,1,6.550,2019.0
1,AGG 0,2014-04-21,AGG,25,2019-04-18,1.278387,2019-03-01,0.267,1,6.675,2019.0
2,AGG 0,2014-04-21,AGG,25,2019-04-18,1.278387,2019-02-01,0.268,1,6.700,2019.0
3,AGG 0,2014-04-21,AGG,25,2019-04-18,1.278387,2018-12-18,0.210,1,5.250,2018.0
4,AGG 0,2014-04-21,AGG,25,2019-04-18,1.278387,2018-11-01,0.256,1,6.400,2018.0

In [63]:
# This df is more useful as it breaks out dividends by year paid as well as total received during ownership.

merged_subsets_eligible_by_year = merged_subsets_eligible.pivot_table(index=['Ticker #', 'Ticker', 'Acquisition Date'],
                                                                          columns='Year', values='Dividend Amt', aggfunc=sum)

merged_subsets_eligible_by_year.reset_index(inplace=True)

merged_subsets_eligible_by_year.fillna(0, inplace=True)

merged_subsets_eligible_by_year['Dividend Amt'] = merged_subsets_eligible_by_year.iloc[:, 3:].sum(axis=1)

# Check out subtotals here:  http://pbpython.com/excel-pandas-comp.html

merged_subsets_eligible_by_year

Year,Ticker #,Ticker,Acquisition Date,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,Dividend Amt
0,AGG 0,AGG,2014-04-21,48.400000,62.150000,48.17500,57.625000,65.97500,19.925,302.250000
1,DBC 1,DBC,2014-04-21,0.000000,0.000000,0.00000,0.000000,4.15800,0.000,4.158000
2,IGOV 3,IGOV,2014-04-21,7.103696,0.839192,4.99232,1.326384,1.20788,0.000,15.469472
3,VEU 4,VEU,2014-04-21,131.985000,134.610000,137.34000,152.775000,156.34500,18.795,731.850000
4,VNQ 5,VNQ,2014-04-21,27.126000,34.364000,43.73600,38.654000,38.84100,6.776,189.497000
5,VTI 6,VTI,2014-04-21,104.112000,148.824000,159.48000,168.696000,187.48800,55.584,824.184000
6,VTI 7,VTI,2014-05-05,46.272000,66.144000,70.88000,74.976000,83.32800,24.704,366.304000

In [64]:
# Drop duplicates in order to get the latest dividend for each stock.

merged_subsets_eligible_latest = merged_subsets_eligible

merged_subsets_eligible_latest.sort_values(by=['Ticker #', 'Ex-Div. Date']
                                                                     , ascending=[True, False], inplace=True)

merged_subsets_eligible_latest.drop_duplicates(subset=['Ticker #'], keep='first', inplace=True)

merged_subsets_eligible_latest

C:\Users\Kevin\Anaconda2\envs\py35\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Kevin\Anaconda2\envs\py35\lib\site-packages\ipykernel\__main__.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Ticker #,Acquisition Date,Ticker,Quantity,Latest Date,Equiv SP Shares,Ex-Div. Date,Amount,Acq Indicator,Dividend Amt,Year
0,AGG 0,2014-04-21,AGG,25,2019-04-18,1.278387,2019-04-01,0.262000,1,6.55000,2019.0
64,DBC 1,2014-04-21,DBC,22,2019-04-18,0.308042,2018-12-24,0.189000,1,4.15800,2018.0
66,IGOV 3,2014-04-21,IGOV,8,2019-04-18,0.216765,2018-12-18,0.150985,1,1.20788,2018.0
142,VEU 4,2014-04-21,VEU,105,2019-04-18,2.463606,2019-03-25,0.179000,1,18.79500,2019.0
166,VNQ 5,2014-04-21,VNQ,11,2019-04-18,0.342477,2019-03-28,0.616000,1,6.77600,2019.0
190,VTI 6,2014-04-21,VTI,72,2019-04-18,3.392507,2019-03-25,0.772000,1,55.58400,2019.0
214,VTI 7,2014-05-05,VTI,32,2019-04-18,1.505545,2019-03-25,0.772000,1,24.70400,2019.0

In [65]:
merged_subsets_eligible_latest_subset = merged_subsets_eligible_latest[['Ticker #', 'Ex-Div. Date', 'Amount']]

merged_subsets_eligible_latest_subset.rename(columns={'Amount': 'Latest Div Amt'}, inplace=True)

merged_subsets_eligible_latest_subset

C:\Users\Kevin\Anaconda2\envs\py35\lib\site-packages\pandas\core\frame.py:3027: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

    Ticker # Ex-Div. Date  Latest Div Amt
0      AGG 0   2019-04-01        0.262000
64     DBC 1   2018-12-24        0.189000
66    IGOV 3   2018-12-18        0.150985
142    VEU 4   2019-03-25        0.179000
166    VNQ 5   2019-03-28        0.616000
190    VTI 6   2019-03-25        0.772000
214    VTI 7   2019-03-25        0.772000

In [66]:
# subset the df with the needed columns that includes total dividends received for each position.

merged_subsets_eligible_total = merged_subsets_eligible.pivot_table(index=['Ticker #', 'Ticker', 'Acquisition Date', 'Quantity'
                                                                           , 'Latest Date', 'Equiv SP Shares']
                                                                          , values='Dividend Amt', aggfunc=sum)

merged_subsets_eligible_total.reset_index(inplace=True)

merged_subsets_eligible_total

,Ticker #,Ticker,Acquisition Date,Quantity,Latest Date,Equiv SP Shares,Dividend Amt
0,AGG 0,AGG,2014-04-21,25,2019-04-18,1.278387,6.55000
1,DBC 1,DBC,2014-04-21,22,2019-04-18,0.308042,4.15800
2,IGOV 3,IGOV,2014-04-21,8,2019-04-18,0.216765,1.20788
3,VEU 4,VEU,2014-04-21,105,2019-04-18,2.463606,18.79500
4,VNQ 5,VNQ,2014-04-21,11,2019-04-18,0.342477,6.77600
5,VTI 6,VTI,2014-04-21,72,2019-04-18,3.392507,55.58400
6,VTI 7,VTI,2014-05-05,32,2019-04-18,1.505545,24.70400

In [67]:
dividend_df_sp500.head()

,Ticker,Ex-Div. Date,Amount,Type,Yield,Change,Decl. Date,Rec. Date,Pay. Date,Comments
213,^GSPC,2018-12-31,14.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,^GSPC,2018-09-30,13.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,^GSPC,2018-06-30,13.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,^GSPC,2018-03-31,12.79,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,^GSPC,2017-12-31,12.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
# This df adds all of the columns with the SP500 dividends paid during the range that each stock position was held.
# For comparative holding period purposes.

dividend_df_sp500_2 = dividend_df_sp500

agg0_start_date = datetime.datetime(2014, 4, 21)
dbc1_start_date = datetime.datetime(2014, 4, 21)
igov3_start_date = datetime.datetime(2014, 4, 21)
veu4_start_date = datetime.datetime(2014, 4, 21)
vnq5_start_date = datetime.datetime(2014, 4, 21)
vti6_start_date = datetime.datetime(2014, 4, 21)
vti7_start_date = datetime.datetime(2014, 5, 5)

dividend_df_sp500_2.loc[:, 'agg0_sum'] = dividend_df_sp500_2[(dividend_df_sp500_2['Ex-Div. Date'] > agg0_start_date) & (dividend_df_sp500_2['Ex-Div. Date'] <= stocks_end)].sum()['Amount']
dividend_df_sp500_2.loc[:, 'dbc1_sum'] = dividend_df_sp500_2[(dividend_df_sp500_2['Ex-Div. Date'] > dbc1_start_date) & (dividend_df_sp500_2['Ex-Div. Date'] <= stocks_end)].sum()['Amount']
dividend_df_sp500_2.loc[:, 'igov3_sum'] = dividend_df_sp500_2[(dividend_df_sp500_2['Ex-Div. Date'] > igov3_start_date) & (dividend_df_sp500_2['Ex-Div. Date'] <= stocks_end)].sum()['Amount']
dividend_df_sp500_2.loc[:, 'veu4_sum'] = dividend_df_sp500_2[(dividend_df_sp500_2['Ex-Div. Date'] > veu4_start_date) & (dividend_df_sp500_2['Ex-Div. Date'] <= stocks_end)].sum()['Amount']
dividend_df_sp500_2.loc[:, 'vnq5_sum'] = dividend_df_sp500_2[(dividend_df_sp500_2['Ex-Div. Date'] > vnq5_start_date) & (dividend_df_sp500_2['Ex-Div. Date'] <= stocks_end)].sum()['Amount']
dividend_df_sp500_2.loc[:, 'vti6_sum'] = dividend_df_sp500_2[(dividend_df_sp500_2['Ex-Div. Date'] > vti6_start_date) & (dividend_df_sp500_2['Ex-Div. Date'] <= stocks_end)].sum()['Amount']
dividend_df_sp500_2.loc[:, 'vti7_sum'] = dividend_df_sp500_2[(dividend_df_sp500_2['Ex-Div. Date'] > vti7_start_date) & (dividend_df_sp500_2['Ex-Div. Date'] <= stocks_end)].sum()['Amount']

dividend_df_sp500_2.head()

C:\Users\Kevin\Anaconda2\envs\py35\lib\site-packages\pandas\core\indexing.py:357: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Kevin\Anaconda2\envs\py35\lib\site-packages\pandas\core\indexing.py:537: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Ticker,Ex-Div. Date,Amount,Type,Yield,Change,Decl. Date,Rec. Date,Pay. Date,Comments,agg0_sum,dbc1_sum,igov3_sum,veu4_sum,vnq5_sum,vti6_sum,vti7_sum
213,^GSPC,2018-12-31,14.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,221.999,221.999,221.999,221.999,221.999,221.999,221.999
214,^GSPC,2018-09-30,13.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,221.999,221.999,221.999,221.999,221.999,221.999,221.999
215,^GSPC,2018-06-30,13.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,221.999,221.999,221.999,221.999,221.999,221.999,221.999
216,^GSPC,2018-03-31,12.79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,221.999,221.999,221.999,221.999,221.999,221.999,221.999
217,^GSPC,2017-12-31,12.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,221.999,221.999,221.999,221.999,221.999,221.999,221.999

In [69]:
# Subset the above df and re-label the SP500 total dividend amount column.

dividend_df_sp500_2 = dividend_df_sp500_2.iloc[0, 10:]

dividend_df_sp500_2 = dividend_df_sp500_2.to_frame().reset_index()

dividend_df_sp500_2.rename(columns={213: 'SP500 Div Amt'}, inplace=True)

dividend_df_sp500_2

       index SP500 Div Amt
0   agg0_sum       221.999
1   dbc1_sum       221.999
2  igov3_sum       221.999
3   veu4_sum       221.999
4   vnq5_sum       221.999
5   vti6_sum       221.999
6   vti7_sum       221.999

In [70]:
# This function is used to assign the Ticker # column so that this df can be joined with the master df.

def ticker_assigner(df):
    if df['index'] == 'agg0_sum':
        val = 'AGG 0'
    elif df['index'] == 'dbc1_sum':
        val = 'DBC 1'
    elif df['index'] == 'igov3_sum':
        val = 'IGOV 3'
    elif df['index'] == 'veu4_sum':
        val = 'VEU 4'
    elif df['index'] == 'vnq5_sum':
        val = 'VNQ 5'
    elif df['index'] == 'vti6_sum':
        val = 'VTI 6'
    elif df['index'] == 'vti7_sum':
        val = 'VTI 7'
    else:
        val = 0
    return val

In [71]:
dividend_df_sp500_2['Ticker #'] = dividend_df_sp500_2.apply(ticker_assigner, axis=1)

# merged_subsets['Amount'].fillna(0, inplace=True)

dividend_df_sp500_2

       index SP500 Div Amt Ticker #
0   agg0_sum       221.999    AGG 0
1   dbc1_sum       221.999    DBC 1
2  igov3_sum       221.999   IGOV 3
3   veu4_sum       221.999    VEU 4
4   vnq5_sum       221.999    VNQ 5
5   vti6_sum       221.999    VTI 6
6   vti7_sum       221.999    VTI 7

In [72]:
# Join the portfolio dividend df with the SP 500 df by Ticker # for comparative purposes.

dividend_sp_merged_final = pd.merge(merged_subsets_eligible_by_year, dividend_df_sp500_2, on='Ticker #', how='left')

del dividend_sp_merged_final['index']

# Rolling this back as include it later on when merge with master dataframe.
# dividend_sp_merged_final.loc[:, 'SP500 Tot Div Amt'] = dividend_sp_merged_final.loc[:, 'Equiv SP Shares'] * dividend_sp_merged_final.loc[:, 'SP500 Div Amt']

dividend_sp_merged_final

,Ticker #,Ticker,Acquisition Date,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,Dividend Amt,SP500 Div Amt
0,AGG 0,AGG,2014-04-21,48.400000,62.150000,48.17500,57.625000,65.97500,19.925,302.250000,221.999
1,DBC 1,DBC,2014-04-21,0.000000,0.000000,0.00000,0.000000,4.15800,0.000,4.158000,221.999
2,IGOV 3,IGOV,2014-04-21,7.103696,0.839192,4.99232,1.326384,1.20788,0.000,15.469472,221.999
3,VEU 4,VEU,2014-04-21,131.985000,134.610000,137.34000,152.775000,156.34500,18.795,731.850000,221.999
4,VNQ 5,VNQ,2014-04-21,27.126000,34.364000,43.73600,38.654000,38.84100,6.776,189.497000,221.999
5,VTI 6,VTI,2014-04-21,104.112000,148.824000,159.48000,168.696000,187.48800,55.584,824.184000,221.999
6,VTI 7,VTI,2014-05-05,46.272000,66.144000,70.88000,74.976000,83.32800,24.704,366.304000,221.999

In [73]:
dividend_sp_merged_final_subset = dividend_sp_merged_final[['Ticker #', 2014.0, 2015.0, 2016.0, 2017.0, 2018.0
                                                            , 2019.0, 'Dividend Amt', 'SP500 Div Amt']]

# Merging with the latest dividend dataframe in order to calculate current yield and holdings' yields.

dividend_sp_merged_final_subset = pd.merge(dividend_sp_merged_final_subset, merged_subsets_eligible_latest_subset
                                           , on='Ticker #') 

# Annualize the dividend.
dividend_sp_merged_final_subset['Latest Div Amt'] = dividend_sp_merged_final_subset['Latest Div Amt'] * 4.0

dividend_sp_merged_final_subset

,Ticker #,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,Dividend Amt,SP500 Div Amt,Ex-Div. Date,Latest Div Amt
0,AGG 0,48.400000,62.150000,48.17500,57.625000,65.97500,19.925,302.250000,221.999,2019-04-01,1.04800
1,DBC 1,0.000000,0.000000,0.00000,0.000000,4.15800,0.000,4.158000,221.999,2018-12-24,0.75600
2,IGOV 3,7.103696,0.839192,4.99232,1.326384,1.20788,0.000,15.469472,221.999,2018-12-18,0.60394
3,VEU 4,131.985000,134.610000,137.34000,152.775000,156.34500,18.795,731.850000,221.999,2019-03-25,0.71600
4,VNQ 5,27.126000,34.364000,43.73600,38.654000,38.84100,6.776,189.497000,221.999,2019-03-28,2.46400
5,VTI 6,104.112000,148.824000,159.48000,168.696000,187.48800,55.584,824.184000,221.999,2019-03-25,3.08800
6,VTI 7,46.272000,66.144000,70.88000,74.976000,83.32800,24.704,366.304000,221.999,2019-03-25,3.08800

In [74]:
# Master dataframe to also include all of the dividend info.

merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs = pd.merge(merged_portfolio_sp_latest_YTD_sp_closing_high
                                                                    , dividend_sp_merged_final_subset, on='Ticker #', how='left')

merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs.fillna(0, inplace=True)

# This column will calculate the total SP 500 dividend amount.
merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs.loc[:, 'SP500 Tot Div'] = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['SP500 Div Amt'] * merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['Equiv SP Shares']

# Total shareholder return (TSR) value for position.
merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs.loc[:, 'Total Stock Gain / (Loss)'] = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['Stock Gain / (Loss)'] + merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['Dividend Amt']

# Total shareholder return value for SP500 equivalent.
merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs.loc[:, 'Total SP500 Gain / (Loss)'] = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['SP 500 Gain / (Loss)'] + merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['SP500 Tot Div']

# TSR % for position.
merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs.loc[:, 'Total Stock Return'] = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['Total Stock Gain / (Loss)'] / merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['Cost Basis']

# TSR % for SP500.
merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs.loc[:, 'Total SP500 Return'] = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['Total SP500 Gain / (Loss)'] / merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['Cost Basis']

# Total dividend yield from position.
merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs.loc[:, 'Share Yield'] = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['Dividend Amt'] / merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['Cost Basis']

# Aggregate SP returns across all positions.
merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs.loc[:, 'Cum Total SP Returns'] = (merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['SP 500 Value'] + merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['SP500 Tot Div']).cumsum()

# Aggregate Ticker returns across all positions.
merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs.loc[:, 'Cum Stock Returns'] = (merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['Ticker Share Value'] + merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['Dividend Amt']).cumsum()

# Current position yield based on latest dividend and latest share price.
merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs.loc[:, 'Market Yield'] = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['Latest Div Amt'] / merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['Ticker Adj Close']

# Current yield based on original cost basis for stock and latest dividend amount.
merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs.loc[:, 'Current Yield'] = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['Latest Div Amt'] / merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['Unit Cost']

# Total SP returns pct.
merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs.loc[:, 'Cum SP Returns Pct'] = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['Cum Total SP Returns'] / merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['Cum Invst'] - 1

# Total Tickers returns pct.
merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs.loc[:, 'Cum Ticker Returns Pct'] = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs.loc[:, 'Cum Stock Returns'] / merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs.loc[:, 'Cum Invst'] - 1

merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs.head(12)

,Acquisition Date,Position,Ticker,Quantity,Unit Cost,Cost Basis,Start of Year,Target_Alloc,Comments,Counts,...,Total SP500 Gain / (Loss),Total Stock Return,Total SP500 Return,Share Yield,Cum Total SP Returns,Cum Stock Returns,Market Yield,Current Yield,Cum SP Returns Pct,Cum Ticker Returns Pct
0,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),AGG,25,95.72,2393.00,2018-12-31,0.127,0.0,0,...,1604.553492,0.256582,0.670520,0.126306,3997.553492,3007.000050,0.009687,0.010949,0.670520,0.256582
1,2014-04-21,Invesco DB Commodity Tracking (DBC),DBC,22,26.21,576.62,2018-12-31,0.033,0.0,1,...,386.635033,-0.374323,0.670520,0.007211,4960.808525,3367.778028,0.046638,0.028844,0.670520,0.134077
2,2014-04-21,iShares Gold Trust (IAU),IAU,50,12.51,625.50,2018-12-31,0.033,0.0,2,...,345.228124,-0.023181,0.551923,0.000000,5931.536650,3978.778028,0.000000,0.000000,0.649886,0.106716
3,2014-04-21,iShares International Treasury Bond ETF (IGOV),IGOV,8,50.72,405.76,2018-12-31,0.023,0.0,3,...,272.070048,-0.000913,0.670520,0.038125,6609.366698,4384.167516,0.012391,0.011907,0.651978,0.095801
4,2014-04-21,Vanguard FTSE All-Wld ex-US ETF (VEU),VEU,105,43.92,4611.60,2018-12-31,0.250,0.0,4,...,3092.168360,0.336066,0.670520,0.158698,14313.135057,10545.567411,0.013846,0.016302,0.661906,0.224452
5,2014-04-21,Vanguard Real Estate ETF (VNQ),VNQ,11,58.28,641.08,2018-12-31,0.034,0.0,5,...,429.856729,0.762474,0.670520,0.295590,15384.071786,11675.454389,0.028822,0.042279,0.662503,0.261726
6,2014-04-21,Vanguard Total Stock Market ETF (VTI),VTI,72,88.20,6350.40,2018-12-31,0.500,0.0,6,...,4258.067905,0.810850,0.670520,0.129785,25992.539691,23175.078677,0.020827,0.035011,0.665766,0.485205
7,2014-05-05,Vanguard Total Stock Market ETF (VTI),VTI,32,88.67,2837.44,2018-12-31,0.500,0.0,7,...,1870.442105,0.801252,0.659201,0.129097,30700.421796,28286.022805,0.020827,0.034826,0.664755,0.533833

In [75]:
merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8 entries, 0 to 7
Data columns (total 59 columns):
Acquisition Date               8 non-null datetime64[ns]
Position                       8 non-null object
Ticker                         8 non-null object
Quantity                       8 non-null int64
Unit Cost                      8 non-null float64
Cost Basis                     8 non-null float64
Start of Year                  8 non-null datetime64[ns]
Target_Alloc                   8 non-null float64
Comments                       8 non-null float64
Counts                         8 non-null int64
Ticker #                       8 non-null object
Latest Date                    8 non-null datetime64[ns]
Ticker Adj Close               8 non-null float64
Ticker Return                  8 non-null float64
SP 500 Initial Close           8 non-null float64
Equiv SP Shares                8 non-null float64
SP 500 Latest Close            8 non-null float64
SP Return                      8 non-null float64
Abs. Return Compare            8 non-null float64
Ticker Share Value             8 non-null float64
SP 500 Value                   8 non-null float64
Abs Value Compare              8 non-null float64
Stock Gain / (Loss)            8 non-null float64
SP 500 Gain / (Loss)           8 non-null float64
Ticker Start Year Close        8 non-null float64
SP Start Year Close            8 non-null float64
Share YTD                      8 non-null float64
SP 500 YTD                     8 non-null float64
Cum Invst                      8 non-null float64
Cum Ticker Returns             8 non-null float64
Cum SP Returns                 8 non-null float64
Cum Ticker ROI Mult            8 non-null float64
Cum Ticker ROI Pct             8 non-null float64
Cum SP ROI Pct                 8 non-null float64
Closing High Adj Close         8 non-null float64
Closing High Adj Close Date    8 non-null datetime64[ns]
Pct off High                   8 non-null float64
2014.0                         8 non-null float64
2015.0                         8 non-null float64
2016.0                         8 non-null float64
2017.0                         8 non-null float64
2018.0                         8 non-null float64
2019.0                         8 non-null float64
Dividend Amt                   8 non-null float64
SP500 Div Amt                  8 non-null float64
Ex-Div. Date                   8 non-null object
Latest Div Amt                 8 non-null float64
SP500 Tot Div                  8 non-null float64
Total Stock Gain / (Loss)      8 non-null float64
Total SP500 Gain / (Loss)      8 non-null float64
Total Stock Return             8 non-null float64
Total SP500 Return             8 non-null float64
Share Yield                    8 non-null float64
Cum Total SP Returns           8 non-null float64
Cum Stock Returns              8 non-null float64
Market Yield                   8 non-null float64
Current Yield                  8 non-null float64
Cum SP Returns Pct             8 non-null float64
Cum Ticker Returns Pct         8 non-null float64
dtypes: datetime64[ns](4), float64(49), int64(2), object(4)
memory usage: 3.8+ KB

In [76]:
# Subsetted df that will be used for the summary table on the dashboard.

merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs[['Ticker #', 'Acquisition Date',
                                                                                                         'Ticker', 'Unit Cost', 'Cost Basis', 'Ticker Adj Close',
                                                                                                         'Ticker Return','SP Return', 'Stock Gain / (Loss)'
                                                                                                         ,'Share YTD', 'Closing High Adj Close'
                                                                                                         ,'Closing High Adj Close Date'
                                                                                                         ,'Pct off High', 'Dividend Amt', 'Share Yield'
                                                                                                                             ,'Market Yield', 'Current Yield'
                                                                                                                             ,'Ex-Div. Date', 'Latest Div Amt']]

# Converting to date time and coerce will force an out of bounds date to NaT.
merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary.loc[:, 'Ex-Div. Date'] = pd.to_datetime(merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary.loc[:, 'Ex-Div. Date'], errors='coerce')

merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary[0:10]

C:\Users\Kevin\Anaconda2\envs\py35\lib\site-packages\pandas\core\indexing.py:537: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Ticker #,Acquisition Date,Ticker,Unit Cost,Cost Basis,Ticker Adj Close,Ticker Return,SP Return,Stock Gain / (Loss),Share YTD,Closing High Adj Close,Closing High Adj Close Date,Pct off High,Dividend Amt,Share Yield,Market Yield,Current Yield,Ex-Div. Date,Latest Div Amt
0,AGG 0,2014-04-21,AGG,95.72,2393.00,108.190002,0.130276,0.551923,311.750050,0.023509,108.817978,2019-03-28,-0.005771,302.250000,0.126306,0.009687,0.010949,2019-04-01,1.04800
1,DBC 1,2014-04-21,DBC,26.21,576.62,16.209999,-0.381534,0.551923,-220.000022,0.118702,26.574825,2014-06-20,-0.390024,4.158000,0.007211,0.046638,0.028844,2018-12-24,0.75600
2,IAU 2,2014-04-21,IAU,12.51,625.50,12.220000,-0.023181,0.551923,-14.500000,-0.005696,13.180000,2016-07-08,-0.072838,0.000000,0.000000,0.000000,0.000000,NaT,0.00000
3,IGOV 3,2014-04-21,IGOV,50.72,405.76,48.740002,-0.039038,0.551923,-15.839984,0.005570,51.906197,2018-03-26,-0.060998,15.469472,0.038125,0.012391,0.011907,2018-12-18,0.60394
4,VEU 4,2014-04-21,VEU,43.92,4611.60,51.709999,0.177368,0.551923,817.949895,0.138579,56.954277,2018-01-26,-0.092079,731.850000,0.158698,0.013846,0.016302,2019-03-25,0.71600
5,VNQ 5,2014-04-21,VNQ,58.28,641.08,85.489998,0.466884,0.551923,299.309978,0.154637,88.050003,2019-04-12,-0.029074,189.497000,0.295590,0.028822,0.042279,2019-03-28,2.46400
6,VTI 6,2014-04-21,VTI,88.20,6350.40,148.270004,0.681066,0.551923,4325.040288,0.167998,148.906891,2018-09-20,-0.004277,824.184000,0.129785,0.020827,0.035011,2019-03-25,3.08800
7,VTI 7,2014-05-05,VTI,88.67,2837.44,148.270004,0.672155,0.541408,1907.200128,0.167998,148.906891,2018-09-20,-0.004277,366.304000,0.129097,0.020827,0.034826,2019-03-25,3.08800

In [77]:
merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8 entries, 0 to 7
Data columns (total 19 columns):
Ticker #                       8 non-null object
Acquisition Date               8 non-null datetime64[ns]
Ticker                         8 non-null object
Unit Cost                      8 non-null float64
Cost Basis                     8 non-null float64
Ticker Adj Close               8 non-null float64
Ticker Return                  8 non-null float64
SP Return                      8 non-null float64
Stock Gain / (Loss)            8 non-null float64
Share YTD                      8 non-null float64
Closing High Adj Close         8 non-null float64
Closing High Adj Close Date    8 non-null datetime64[ns]
Pct off High                   8 non-null float64
Dividend Amt                   8 non-null float64
Share Yield                    8 non-null float64
Market Yield                   8 non-null float64
Current Yield                  8 non-null float64
Ex-Div. Date                   7 non-null datetime64[ns]
Latest Div Amt                 8 non-null float64
dtypes: datetime64[ns](3), float64(14), object(2)
memory usage: 1.2+ KB

In [78]:
merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary.round(3)

merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary.head()

,Ticker #,Acquisition Date,Ticker,Unit Cost,Cost Basis,Ticker Adj Close,Ticker Return,SP Return,Stock Gain / (Loss),Share YTD,Closing High Adj Close,Closing High Adj Close Date,Pct off High,Dividend Amt,Share Yield,Market Yield,Current Yield,Ex-Div. Date,Latest Div Amt
0,AGG 0,2014-04-21,AGG,95.72,2393.00,108.19,0.130,0.552,311.75,0.024,108.818,2019-03-28,-0.006,302.250,0.126,0.010,0.011,2019-04-01,1.048
1,DBC 1,2014-04-21,DBC,26.21,576.62,16.21,-0.382,0.552,-220.00,0.119,26.575,2014-06-20,-0.390,4.158,0.007,0.047,0.029,2018-12-24,0.756
2,IAU 2,2014-04-21,IAU,12.51,625.50,12.22,-0.023,0.552,-14.50,-0.006,13.180,2016-07-08,-0.073,0.000,0.000,0.000,0.000,NaT,0.000
3,IGOV 3,2014-04-21,IGOV,50.72,405.76,48.74,-0.039,0.552,-15.84,0.006,51.906,2018-03-26,-0.061,15.469,0.038,0.012,0.012,2018-12-18,0.604
4,VEU 4,2014-04-21,VEU,43.92,4611.60,51.71,0.177,0.552,817.95,0.139,56.954,2018-01-26,-0.092,731.850,0.159,0.014,0.016,2019-03-25,0.716

In [79]:
# Re-formatting the % columns.

merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['Ticker Return'] = pd.Series(["{0:.1f}%".format(val * 100) 
                                                                                     for val in merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['Ticker Return']], index = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary.index)

merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['Share YTD'] = pd.Series(["{0:.1f}%".format(val * 100) 
                                                                                     for val in merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['Share YTD']], index = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary.index)

merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['SP Return'] = pd.Series(["{0:.1f}%".format(val * 100) 
                                                                                     for val in merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['SP Return']], index = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary.index)


merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['Pct off High'] = pd.Series(["{0:.1f}%".format(val * 100) 
                                                                                     for val in merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['Pct off High']], index = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary.index)

merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['Share Yield'] = pd.Series(["{0:.1f}%".format(val * 100) 
                                                                                     for val in merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['Share Yield']], index = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary.index)

merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['Market Yield'] = pd.Series(["{0:.1f}%".format(val * 100) 
                                                                                     for val in merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['Market Yield']], index = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary.index)

merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['Current Yield'] = pd.Series(["{0:.1f}%".format(val * 100) 
                                                                                     for val in merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['Current Yield']], index = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary.index)

In [80]:
# https://plot.ly/python/table/#use-a-pandas-dataframe

trace = go.Table(
    header=dict(values=list(merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary.columns),
                fill = dict(color='#C2D4FF'),
                align = ['left'] * 5),
    cells=dict(values=[merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['Ticker #'],
                       merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['Acquisition Date'],
                       merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['Ticker'],
                       merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['Unit Cost'],
                       merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['Cost Basis'],
                       merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['Ticker Adj Close'],
                       merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['Ticker Return'],
                       merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['SP Return'],
                       merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['Stock Gain / (Loss)'],
                       merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['Share YTD'],
                       merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['Closing High Adj Close'],
                       merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['Closing High Adj Close Date'],
                       merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['Pct off High'],
                       merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['Dividend Amt'],
                       merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['Share Yield'],
                       merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['Market Yield'],
                       merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['Current Yield'],
                       merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['Ex-Div. Date'],
                       merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary['Latest Div Amt']
                      ],
               fill = dict(color='#F5F8FF'),
               align = ['left'] * 5,
                height = 40))

data = [trace] 
iplot(data)

## Data Outputs

In [81]:
# Generate the base file that will be used for Dash dashboard.

# merged_portfolio_sp_latest_YTD_sp_closing_high.to_csv('analyzed_portfolio.csv')

merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs.to_csv('analyzed_portfolio.csv')

In [82]:
merged_portfolio_sp_latest_YTD_sp_closing_high.head()

merged_portfolio_sp_latest_YTD_sp_closing_high_tickers = merged_portfolio_sp_latest_YTD_sp_closing_high[['Ticker']]

merged_portfolio_sp_latest_YTD_sp_closing_high_tickers = merged_portfolio_sp_latest_YTD_sp_closing_high_tickers.drop_duplicates(['Ticker'], keep='first')

merged_portfolio_sp_latest_YTD_sp_closing_high_tickers = merged_portfolio_sp_latest_YTD_sp_closing_high_tickers['Ticker'].unique()

merged_portfolio_sp_latest_YTD_sp_closing_high_tickers = merged_portfolio_sp_latest_YTD_sp_closing_high_tickers.tolist()

# Appending SPY for comparisons to existing positions in initial interactive chart.
tickers_append = ['SPY']

merged_portfolio_sp_latest_YTD_sp_closing_high_tickers.extend(tickers_append)

merged_portfolio_sp_latest_YTD_sp_closing_high_tickers = pd.DataFrame(data=merged_portfolio_sp_latest_YTD_sp_closing_high_tickers, columns=['Ticker'])

merged_portfolio_sp_latest_YTD_sp_closing_high_tickers.sort_values(by='Ticker', ascending=True, inplace=True)

merged_portfolio_sp_latest_YTD_sp_closing_high_tickers.head()

merged_portfolio_sp_latest_YTD_sp_closing_high_tickers.to_csv('tickers.csv')

In [83]:
# Generate the file for the comparison of target % allocation relative to actual allocation.
merged_portfolio_sp_latest_YTD_sp_contr_subset_pivot.to_csv('allocation.csv')

In [84]:
merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_summary.to_csv('data_summary.csv', index=False)

In [85]:
merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_all_payers = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs[merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['Dividend Amt']>0]

# merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_all_payers.head()

merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_all_payers.to_csv('analyzed_portfolio_divs_only.csv', index=False)

## Dividend Visualizations

In [86]:
merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs[0:10]

,Acquisition Date,Position,Ticker,Quantity,Unit Cost,Cost Basis,Start of Year,Target_Alloc,Comments,Counts,...,Total SP500 Gain / (Loss),Total Stock Return,Total SP500 Return,Share Yield,Cum Total SP Returns,Cum Stock Returns,Market Yield,Current Yield,Cum SP Returns Pct,Cum Ticker Returns Pct
0,2014-04-21,iShares Core US Aggregate Bond ETF (AGG),AGG,25,95.72,2393.00,2018-12-31,0.127,0.0,0,...,1604.553492,0.256582,0.670520,0.126306,3997.553492,3007.000050,0.009687,0.010949,0.670520,0.256582
1,2014-04-21,Invesco DB Commodity Tracking (DBC),DBC,22,26.21,576.62,2018-12-31,0.033,0.0,1,...,386.635033,-0.374323,0.670520,0.007211,4960.808525,3367.778028,0.046638,0.028844,0.670520,0.134077
2,2014-04-21,iShares Gold Trust (IAU),IAU,50,12.51,625.50,2018-12-31,0.033,0.0,2,...,345.228124,-0.023181,0.551923,0.000000,5931.536650,3978.778028,0.000000,0.000000,0.649886,0.106716
3,2014-04-21,iShares International Treasury Bond ETF (IGOV),IGOV,8,50.72,405.76,2018-12-31,0.023,0.0,3,...,272.070048,-0.000913,0.670520,0.038125,6609.366698,4384.167516,0.012391,0.011907,0.651978,0.095801
4,2014-04-21,Vanguard FTSE All-Wld ex-US ETF (VEU),VEU,105,43.92,4611.60,2018-12-31,0.250,0.0,4,...,3092.168360,0.336066,0.670520,0.158698,14313.135057,10545.567411,0.013846,0.016302,0.661906,0.224452
5,2014-04-21,Vanguard Real Estate ETF (VNQ),VNQ,11,58.28,641.08,2018-12-31,0.034,0.0,5,...,429.856729,0.762474,0.670520,0.295590,15384.071786,11675.454389,0.028822,0.042279,0.662503,0.261726
6,2014-04-21,Vanguard Total Stock Market ETF (VTI),VTI,72,88.20,6350.40,2018-12-31,0.500,0.0,6,...,4258.067905,0.810850,0.670520,0.129785,25992.539691,23175.078677,0.020827,0.035011,0.665766,0.485205
7,2014-05-05,Vanguard Total Stock Market ETF (VTI),VTI,32,88.67,2837.44,2018-12-31,0.500,0.0,7,...,1870.442105,0.801252,0.659201,0.129097,30700.421796,28286.022805,0.020827,0.034826,0.664755,0.533833

In [87]:
# Compare total shareholder return for each position relative to SP500.

trace1 = go.Bar(
    x = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_all_payers['Ticker #'],
    y = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_all_payers['Total Stock Return'],
    name = 'Ticker TSR')

trace2 = go.Scatter(
    x = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_all_payers['Ticker #'],
    y = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs_all_payers['Total SP500 Return'],
    name = 'SP500 TSR')
    
data = [trace1, trace2]

layout = go.Layout(title = 'TSR Comparison, Ticker versus SP500'
    , barmode = 'group'
    , yaxis=dict(title='Returns', tickformat=".1%")
    , xaxis=dict(title='Ticker')
    , legend=dict(x=.8,y=1.2)
    )

fig = go.Figure(data=data, layout=layout)
iplot(fig)

In [88]:
trace1 = go.Scatter(
    x = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['Ticker #'],
    y = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['Cum Invst'],
    mode = 'lines+markers',
    name = 'Cum Invst')

trace2 = go.Scatter(
    x = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['Ticker #'],
    y = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['Cum Stock Returns'],
    mode = 'lines+markers',
    name = 'Cum Stock Returns')

trace3 = go.Scatter(
    x = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['Ticker #'],
    y = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['Cum Total SP Returns'],
    mode = 'lines+markers',
    name = 'Cum SP500 Returns')

data = [trace1, trace2, trace3]

layout = go.Layout(title = 'TSR Comparisons by Ticker'
    , barmode = 'group'
    , yaxis=dict(title='Returns')
    , xaxis=dict(title='Ticker')
    , legend=dict(x=1,y=1)
    )

fig = go.Figure(data=data, layout=layout)
iplot(fig)

In [89]:
# Graphing the total return percents.

trace1 = go.Scatter(
    x = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['Ticker #'],
    y = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['Cum Ticker Returns Pct'],
    mode = 'lines+markers',
    name = 'Cum Ticker Returns Pct')

trace2 = go.Scatter(
    x = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['Ticker #'],
    y = merged_portfolio_sp_latest_YTD_sp_closing_high_incl_divs['Cum SP Returns Pct'],
    mode = 'lines+markers',
    name = 'Cum SP Returns Pct')

data = [trace1, trace2]

layout = go.Layout(title = 'TSR Pct Comparisons by Ticker'
    , barmode = 'group'
    , yaxis=dict(title='Returns', tickformat=".1%")
    , xaxis=dict(title='Ticker')
    , legend=dict(x=1,y=1)
    )

fig = go.Figure(data=data, layout=layout)
iplot(fig)